{% import '_macros/utils.html' as utils with context %}

{% set url_manga_list = url('manga.list') %}
{% set url_moderator_report_manga_list = url('moderator.report.manga.list') %}

<nav>
    <a href="{{ url_manga_list }}" class="nav-link {{ utils.link_active(url_manga_list) }}"><span class="icon icon-left-circled"></span>{% trans %}Back to Fufufuu{% endtrans %}</a>
    <hr class="nav-sep">
    <a href="{{ url_moderator_report_manga_list }}" class="nav-link {{ utils.link_active_starts_with(url_moderator_report_manga_list) }}"><span class="icon icon-attention"></span>{% trans %}Manga{% endtrans %}</a>
    <a href="#" class="nav-link"><span class="icon icon-attention"></span>{% trans %}Comment{% endtrans %}</a>
</nav>
