#-------------------------------------------------------------------------------
# Packages used for migration
#-------------------------------------------------------------------------------

SQLAlchemy==0.9.3
