#-------------------------------------------------------------------------------
# Packages used for migration
#-------------------------------------------------------------------------------

Markdown==2.4
SQLAlchemy==0.9.3
