/* --------------------------------------------------
    manga-info-cover
---------------------------------------------------*/

@media screen and (min-width: @screen-sm) {
    #manga-info-cover {
        max-width: 240px;
        position: absolute;
    }
}
@media screen and (min-width: @screen-xs) and (max-width: @screen-sm1) {
    #manga-info-cover { padding: 0 25%; }
}

.manga-info-cover-img {
    border: 1px solid @color-accent1;
}
.manga-info-cover-action-read {
    border: none;
}
.manga-info-cover-action {
    .border-radius(0);
    padding: 10px 0;
}

/* --------------------------------------------------
    manga-info-section-list
---------------------------------------------------*/

@media screen and (min-width: @screen-sm) {
    .manga-info-section {
        margin-left: 250px;
    }
}

.manga-info-section {
    list-style-type: none;
    margin-bottom: 10px;
}

.manga-info-tag-list {
    margin: -3px;
}
.manga-info-tag-item {
    .manga-tag();
    margin: 3px;
}
