/* --------------------------------------------------
    manga-thumbnail styles
---------------------------------------------------*/

.mtl {
    margin: -5px;
}

.mtli {
    .inline-block();

    width: 152px;
    padding: 5px;
}

.mtli-inner {
    border: 1px solid #ddd;
}
.mtli-info {
    background-color: #fff;
    border-top: 1px solid #ddd;
    padding: 5px 10px;
}

.mtli-image-wrapper {
    height: 210px;
    background-color: #e5e5e5;

    > img {
        margin: 0 auto;
        max-height: 100%;
        width: auto;
    }
}

@media screen and (min-width: 320px) and (max-width: 479px) {
    .mtli { width: 100/3%; }
    .mtli-image-wrapper { height: auto; }
}
@media screen and (min-width: 480px) and (max-width: @screen-sm1) {
    .mtli { width: 100/4%; }
    .mtli-image-wrapper { height: auto; }
}
@media screen and (min-width: @screen-sm) and (max-width: @screen-md1) {
    .mtli { width: 100/5%; }
    .mtli-image-wrapper { height: auto; }
}
