/* --------------------------------------------------
    manga page styles
---------------------------------------------------*/

#payload {
    display: none;
}

.manga-sidebar {}

.manga-main {
    width: 800px;
    position: relative;
}

#manga-image {
    margin: 0 auto;
    width: auto;
}
