/* --------------------------------------------------
    manga page
---------------------------------------------------*/

#manga-page-container {
    overflow: hidden;
    padding: 5px;
    position: relative;
}

@media screen and (min-width: @screen-lg) {
    #manga-page-container { text-align: center; }
    .manga-info, .manga-container {
        text-align: left;
    }
}

/* --------------------------------------------------
    manga info
---------------------------------------------------*/

.manga-info {
    .inline-block();

    padding: 5px;
    position: relative;
    width: 310px;
}

.manga-info-section {
    background-color: @nav-bg;
    border: @nav-border;
    margin-bottom: 10px;
    padding: 10px;
}

.manga-info-table {
    background-color: @nav-bg;
    border: @nav-border;
    margin-bottom: 10px;
    padding: 0px;
    td {
        border-top: @nav-border;
        border-bottom: @nav-border;
        padding: 10px 10px;
    }

}
.manga-info-table-label {
    font-size: 14px;
    line-height: 24px;
    vertical-align: top;
}

.manga-info-tag-list {
    margin: -3px;
}
.manga-info-tag-item {
    .manga-tag();
    margin: 3px;
}

/* --------------------------------------------------
    manga container
---------------------------------------------------*/

@manga-width:           800px;
@manga-width-double:    1200px;

.manga-container {
    .inline-block();
    padding: 5px;
}

.manga-controls {
    background-color: @nav-bg;
    border: @nav-border;
    margin: 0 auto 10px;
    padding: 10px;
}

.manga-main {
    position: relative;
    margin: 0 auto;
    max-width: @manga-width + 2px;
    text-align: center;

    &.double {
        max-width: @manga-width-double + 2px;
    }
}

.manga-image-container {
    min-height: 200px;
}

.manga-image {
    border: 1px solid #ddd;
    width: auto;
}

#manga-prev-page, #manga-next-page {
    background-image: url("about:blank");
}

#manga-prev-page {
    width: 100/3%;

    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 500;

    &:hover {
        .transparent(20);
        background-color: #000;
    }
}

#manga-next-page {
    width: 200/3%;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 500;
}

/* --------------------------------------------------
    manga comments
---------------------------------------------------*/

.manga-comments {
    max-width: @manga-width;
    margin: 0 auto;
    text-align: left;
}

/* --------------------------------------------------
    manga responsive design
---------------------------------------------------*/

@media screen and (min-width: @screen-lg) {
    .manga-container {
        max-width: ~"calc(100% - 310px)";
    }
}

@media screen and (min-width: @manga-width) {
    .manga-container { min-width: @manga-width; }
}

@media screen and (min-width: @screen-md) and (max-width: @screen-lg1) {
    .manga-info {
        position: absolute;
        top: 5px;
        .transition(300ms ease all);
        .transform(translate3d(-310px, 0, 0));
        &.active {
            .transform(translate3d(0, 0, 0));
        }
    }
    .manga-container {
        display: block;
        padding: 5px;
        width: 100%;

        .transition(300ms ease all);
        &.active { padding-left: 315px; }
    }
}

@media screen and (min-width: @screen-xs) and (max-width: @screen-md1) {
    .manga-info {
        position: absolute;
        top: 5px;
        .transition(300ms ease all);
        .transform(translate3d(-310px, 0, 0));
        &.active {
            .transform(translate3d(0, 0, 0));
        }
    }
    .manga-container {
        display: block;
        padding: 5px;
        width: 100%;

        .transition(300ms ease all);
        .transform(translate3d(0, 0, 0));
        &.active {
            .transform(translate3d(310px, 0, 0));
        }
    }
}

@media screen and (max-width: @screen-xs1) {
    .manga-info {
        padding: 5px 10px;
        width: 100%;
        position: absolute;
        top: 5px;
        left: 0;
        .transition(300ms ease all);
        .transform(translate3d(-100%, 0, 0));
        &.active {
            .transform(translate3d(0, 0, 0));
        }
    }
    .manga-container {
        display: block;
        padding: 5px;
        position: relative;
        width: 100%;

        .transition(300ms ease all);
        .transform(translate3d(0, 0, 0));
        &.active {
            .transform(translate3d(100%, 0, 0));
        }
    }
}
