/* --------------------------------------------------
    manga container
---------------------------------------------------*/

.manga-container {
    padding: 15px;
}

@media screen and (max-width: @screen-md1) {
    .manga-container { padding: 0; }
}

/* --------------------------------------------------
    manga main
---------------------------------------------------*/

.manga-main {
    position: relative;
    margin: 0 auto;
    max-width: 802px;
    text-align: center;

    &.double {
        max-width: 1202px;
    }

    > img {
        .inline-block();
    }
}

@media screen and (min-width: @screen-md) {
    .manga-main > img { border: 1px solid #ddd; }
}

/* --------------------------------------------------
    manga image
---------------------------------------------------*/

#manga-image {
    width: auto;
}

#manga-prev-page {
    width: 100/3%;

    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;

    &:hover {
        .transparent(20);
        background-color: #000;
    }
}

#manga-next-page {
    width: 200/3%;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}

/* --------------------------------------------------
    manga misc
---------------------------------------------------*/

#payload {
    display: none;
}
