#-------------------------------------------------------------------------------
# General
#-------------------------------------------------------------------------------

__pycache__
*.pyc
.DS_Store
.coverage

fufufuu.sqlite3
fufufuu/localsettings.py

static/css/app.css
static/js/app.js

#-------------------------------------------------------------------------------
# JetBrains
#-------------------------------------------------------------------------------

.idea
