#-------------------------------------------------------------------------------
# Django
#-------------------------------------------------------------------------------

Django==1.6.1

#-------------------------------------------------------------------------------
# Django Packages
#-------------------------------------------------------------------------------

django-debug-toolbar==1.0.1
South==0.8.4

#-------------------------------------------------------------------------------
# Python Packages
#-------------------------------------------------------------------------------

Jinja2==2.7.1
Markdown==2.3.1
Pillow==2.3.0
py-bcrypt==0.4
psycopg2==2.5.2
pytz==2013.9
setuptools==2.1
Unidecode==0.04.14
watchdog==0.7.0

#-------------------------------------------------------------------------------
# deployment
#-------------------------------------------------------------------------------

Fabric==1.8.1
uWSGI==2.0
