#-------------------------------------------------------------------------------
# requirements used in the process of deploying
#-------------------------------------------------------------------------------

watchdog==0.7.1
Fabric==1.8.2
