/* --------------------------------------------------
    button styles
---------------------------------------------------*/

.btn {
    .border-radius(@border-radius);
    .inline-block();
    .transition(150ms ease all);

    background-color: @btn-bg;
    border: 1px solid @btn-border;
    color: @btn-color;
    cursor: pointer;
    padding: 7px 15px;
    &:hover {
        background-color: @btn-bg-active;
        border-color: @btn-border-active;
    }
}
.btn-large {}
.btn-small {}

.btn-primary {
    color: @btn-primary-color;
    background-color: @btn-primary-bg;
    border-color: @btn-primary-border;
    &:hover {
        background-color: @btn-primary-bg-active;
        border-color: @btn-primary-border-active;
    }
}

.btn-warning {
    color: @btn-warning-color;
    background-color: @btn-warning-bg;
    border-color: @btn-warning-border;
    &:hover {
        background-color: @btn-warning-bg-active;
        border-color: @btn-warning-border-active;
    }
}

.btn-error {
    color: @btn-error-color;
    background-color: @btn-error-bg;
    border-color: @btn-error-border;
    &:hover {
        background-color: @btn-error-bg-active;
        border-color: @btn-error-border-active;
    }
}

.btn-block {
    display: block;
    width: 100%;
}
