/* --------------------------------------------------
    filter bars
---------------------------------------------------*/

.filter-bar {
    background-color: @nav-bg;
    border-bottom: @nav-border;
    color: @nav-color;
    padding: 10px;
}

.filter-content {
    background-color: @nav-bg;
    border-bottom: @nav-border;
    padding: 10px;
}
.filter-content-section {
    height: 30px;
    line-height: 30px;
    margin-bottom: 5px;
}
.filter-content-header {
    .inline-block();
    font-size: 15px;
    font-weight: @font-weight-base;
    line-height: 30px;
    margin-bottom: 0;
    width: 100px;
}
