/* --------------------------------------------------
    element styles
---------------------------------------------------*/

a {
    color: @color-accent1;
    text-decoration: none;
}

hr {
    border-top: @hr-top;
    border-right: none;
    border-bottom: @hr-bottom;
    border-left: none;
    margin: 20px 0;
}

img {
    display: block;
    width: 100%;
}

/* --------------------------------------------------
    absolute centering
---------------------------------------------------*/

.abs-center-wrapper {
    overflow: auto;
    position: fixed;
    top: 50px;
    right: 0;
    bottom: 0;
    left: @nav-width;
}

.abs-center-table {
    display: table;
    width: 100%;
    height: 100%;
}

.abs-center-cell {
    display: table-cell;
    vertical-align: middle;
}

@media screen and (max-width: @screen-md1) {
    .abs-center-wrapper { left: 0; }
}
@media screen and (max-width: @screen-xs1) {
    .abs-center-cell { vertical-align: top; }
}

/* --------------------------------------------------
    panels
---------------------------------------------------*/

.panel {
    .border-radius(@border-radius);

    background-color: @panel-bg;
    border: 1px solid @panel-border;
    margin-bottom: 15px;

    > .panel-heading {
        background-color: @panel-bg-heading;
        border-bottom: 1px solid @panel-border;
        color: @panel-color;
        font-weight: @font-weight-bold;
        margin-bottom: 0;
        padding: 15px;
    }
    > .panel-body {
        padding: 15px;
        > *:last-child { margin-bottom: 0; }
    }

    &.panel-primary {
        border-color: @panel-primary-border;
        > .panel-heading {
            background-color: @panel-primary-border;
            border-color: @panel-primary-border;
            color: @panel-primary-color;
        }
    }
    &.panel-info {}
    &.panel-warning {}
    &.panel-error {}
}

/* --------------------------------------------------
    small space adjustment
---------------------------------------------------*/

.space-top      { margin-top: 5px; }
.space-right    { margin-right: 5px; }
.space-bottom   { margin-bottom: 5px; }
.space-left     { margin-left: 5px; }

/* --------------------------------------------------
    classes
---------------------------------------------------*/

.right  { float: right; }
.left   { float: left; }
.clear  { clear: both; }

.block  { display: block; }
.none   { display: none; }
.hidden { visibility: hidden; }
