/* --------------------------------------------------
    element styles
---------------------------------------------------*/

a {
    text-decoration: none;
}

/* --------------------------------------------------
    classes
---------------------------------------------------*/

.right  { float: right; }
.left   { float: left; }
.clear  { clear: both; }
