/* --------------------------------------------------
    pagination
---------------------------------------------------*/

@pagination-height: 38px;

.pagination {
    .border-radius(@border-radius);
    .inline-block();

    background-color: @pagination-bg;
    border: @pagination-border;
}

.pagination-control {
    .inline-block();

    > input {
        .border-radius(0);
        .inline-block();

        border: none;
        line-height: 24px;
        height: @pagination-height;
        margin-bottom: 0;
        padding: (@pagination-height - 24px) / 2;
        width: 45px;
        text-align: center;
    }
    > span {
        line-height: @pagination-height;
        padding: 0 10px;
    }
}

.pagination-prev, .pagination-next {
    .inline-block();

    border: none;
    cursor: pointer;
    line-height: @pagination-height;
    text-align: center;
    width: @pagination-height;
}

.pagination-prev { border-right: @pagination-border; }
.pagination-next { border-left: @pagination-border; }

@media screen and (min-width: @screen-xs) {
    .pagination-control {
        border-right: @pagination-border;
        > input { border-right: @pagination-border; }
    }
    .pagination-next {
        border-left: @pagination-border-alt;
    }
}
