/* --------------------------------------------------
    panels
---------------------------------------------------*/

.panel {
    .border-radius(@border-radius);

    background-color: @panel-bg;
    border: 1px solid @panel-border;
    margin-bottom: 15px;

    > .panel-heading {
        background-color: @panel-bg-heading;
        border-bottom: 1px solid @panel-border;
        color: @panel-color;
        font-weight: @font-weight-bold;
        margin-bottom: 0;
        padding: 15px;
    }
    > .panel-body {
        padding: 15px;
        > *:last-child { margin-bottom: 0; }
    }
    > .panel-footer {
        padding: 15px;
        background-color: @panel-bg-heading;
        border-top: 1px solid @panel-border;
        color: @panel-color;
    }

    &.panel-primary {
        border-color: @panel-primary-border;
        > .panel-heading {
            background-color: @panel-primary-border;
            border-color: @panel-primary-border;
            color: @panel-primary-color;
        }
    }
    &.panel-info {}
    &.panel-warning {}
    &.panel-error {}
}


.panel-thin {
    margin-bottom: 10px;
    > .panel-heading { padding: 10px; }
    > .panel-body { padding: 10px; }

    &:last-of-type { margin-bottom: 0; }
}

.panel {
    > .panel-body-no-padding { padding: 0px; }
}

.panel-table {
    td {
        padding: 10px;
        vertical-align: top;
    }
    tr:first-of-type > td { border-top: none; }
}
