/* --------------------------------------------------
    table styles
---------------------------------------------------*/

table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}

th, td {
    overflow: hidden;
    padding: 10px 5px;
}

th {
    border-bottom: 2px solid #ddd;
    font-weight: @font-weight-bold;
    text-align: left;
}

td {
    border-top: 1px solid #ddd;
}

tr:hover > td {
    background-color: #ddd;
}
