/* --------------------------------------------------
    table variables
---------------------------------------------------*/

@table-td-border:       1px solid #ddd;
@table-th-border:       2px solid #ddd;
@table-bg-hover:        #eee;

/* --------------------------------------------------
    table styles
---------------------------------------------------*/

table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}

th, td {
    overflow: hidden;
    padding: 10px 5px;
}

th {
    border-bottom: @table-th-border;
    font-weight: @font-weight-bold;
    text-align: left;
}

td {
    border-top: @table-td-border;
}

/* --------------------------------------------------
    table classes
---------------------------------------------------*/

.table-hover tr:hover > td {
    background-color: @table-bg-hover;
}

.table-full-border td {
    border: @table-td-border;
    padding: 10px;
}

.table-vertical-align-top td {
    vertical-align: top;
}

.table-no-border {
    td { border: none; }
}
.table-compressed {
    th { padding: 2px 10px 2px 0; }
    td { padding: 2px 10px 2px 0; }
}

.table-django-form {
    th {
        border: @table-td-border;
        padding: 5px 10px;
        width: 200px;
    }
    td {
        padding: 5px;
        border: @table-td-border;

        > input, textarea {
            margin-bottom: 0;
        }
    }
}
