/* --------------------------------------------------
    tab styles
---------------------------------------------------*/

@tab-bg:            #e5e5e5;
@tab-border:        1px solid #d4d4d4;
@tab-color-active:  #000;

.tab-list {
    background-color: @tab-bg;
    border-bottom: @tab-border;
    list-style-type: none;

    > li {
        .inline-block();

        border-top: none;
        border-right: 1px solid transparent;
        border-bottom: @tab-border;
        border-left: 1px solid transparent;

        margin: 0 0 -1px;

        &.active {
            background-color: @color-bg;
            border-left: @tab-border;
            border-right: @tab-border;
            border-bottom: 1px solid @color-bg;
            > a { color: @tab-color-active; }
        }

        &:first-of-type { border-left: none; }
        &:last-of-type  { border-right: none; }

        > a {
            display: block;
            padding: 10px 15px;
        }
    }
}
