/* --------------------------------------------------
    typography
---------------------------------------------------*/

@font-family-base:          'Open Sans', sans-serif;
@font-family-monospace:     'Inconsolata', monospace;

@font-size-base:            15px;
@font-size-small:           13px;

@font-size-h1:              36px;
@font-size-h2:              30px;
@font-size-h3:              24px;
@font-size-h4:              18px;
@font-size-h5:              15px;
@font-size-h6:              12px;

@font-weight-base:          400;
@font-weight-bold:          600;

@line-height-base:          1.6;
@line-height-headings:      1.2;

/* --------------------------------------------------
    grid breakpoints
---------------------------------------------------*/

@screen-xs1:                599px;
@screen-xs:                 600px;

@screen-sm1:                767px;
@screen-sm:                 768px;

@screen-md1:                959px;
@screen-md:                 960px;

@screen-lg1:                1279px;
@screen-lg:                 1280px;

/* --------------------------------------------------
    colors
---------------------------------------------------*/

@color-bg:                  #f6f6f6;

@color-accent1:             #428bca;
@color-accent2:             #5cb85c;
@color-accent3:             #f0ad4e;
@color-accent4:             #d9534f;
@color-accent5:             #5bc0de;

/* --------------------------------------------------
    other variables
---------------------------------------------------*/

@nav-width:                 192px;
@border-radius:             3px;

@hr-top:                    1px solid #ddd;
@hr-bottom:                 1px solid #fff;

/* --------------------------------------------------
    form variables
---------------------------------------------------*/

@label-color:               #666;
@input-bg:                  #fff;
@input-border:              #ddd;
@input-border-focus:        #999;
@input-color-error:         @color-accent4;
@help-text-color:           #666;

/* --------------------------------------------------
    buttons
---------------------------------------------------*/

@btn-bg:                    #fff;
@btn-border:                #ddd;
@btn-color:                 #000;
@btn-bg-active:             #ddd;
@btn-border-active:         #bbb;

@btn-primary-bg:            @color-accent1;
@btn-primary-border:        darken(@color-accent1, 10%);
@btn-primary-color:         #fff;
@btn-primary-bg-active:     darken(@color-accent1, 10%);
@btn-primary-border-active: darken(@color-accent1, 20%);

@btn-warning-bg:            @color-accent3;
@btn-warning-border:        darken(@color-accent3, 10%);
@btn-warning-color:         #fff;
@btn-warning-bg-active:     darken(@color-accent3, 10%);
@btn-warning-border-active: darken(@color-accent3, 20%);

@btn-error-bg:              @color-accent4;
@btn-error-border:          darken(@color-accent4, 10%);
@btn-error-color:           #fff;
@btn-error-bg-active:       darken(@color-accent4, 10%);
@btn-error-border-active:   darken(@color-accent4, 20%);

@btn-disabled-bg:           #bbb;
@btn-disabled-border:       #aaa;
@btn-disabled-color:        #fff;

/* --------------------------------------------------
    panel variables
---------------------------------------------------*/

@panel-bg:                  #fff;
@panel-bg-heading:          #eee;
@panel-border:              #ddd;
@panel-color:               #000;

@panel-primary-border:      @color-accent1;
@panel-primary-color:       #fff;

/* --------------------------------------------------
    header variables
---------------------------------------------------*/

@header-bg:                 #000;
@header-bg-alt:             #333;
@header-color:              #fff;
@header-color-alt:          #ccc;

/* --------------------------------------------------
    nav variables
---------------------------------------------------*/

@nav-bg:                    #e5e5e5;
@nav-border:                1px solid #d4d4d4;
@nav-border-alt:            1px solid #f6f6f6;
@nav-color:                 #000;
@nav-color-hover:           #999;

/* --------------------------------------------------
    pagination
---------------------------------------------------*/

@pagination-bg:             #eee;
@pagination-border:         1px solid #ccc;
@pagination-border-alt:     1px solid #f6f6f6;
