{% import '_macros/utils.html' as utils with context %}

{% set url_manga_list = url('manga.list') %}
{% set url_staff_site_metrics = url('staff.site.metrics') %}
{% set url_staff_site_settings = url('staff.site.settings') %}
{% set url_staff_dmca_account_list = url('staff.dmca.account.list') %}

<nav>
    <a href="{{ url_manga_list }}" class="nav-link {{ utils.link_active(url_manga_list) }}"><span class="icon icon-left-circled"></span>{% trans %}Back to Fufufuu{% endtrans %}</a>
    <hr class="nav-sep">
    <a href="{{ url_staff_site_metrics }}" class="nav-link {{ utils.link_active(url_staff_site_metrics) }}"><span class="icon icon-chart-area"></span>{% trans %}Site Metrics{% endtrans %}</a>
    <a href="{{ url_staff_site_settings }}" class="nav-link {{ utils.link_active(url_staff_site_settings) }}"><span class="icon icon-tools"></span>{% trans %}Site Settings{% endtrans %}</a>
    <hr class="nav-sep">
    <a href="{{ url_staff_dmca_account_list }}" class="nav-link {{ utils.link_active(url_staff_dmca_account_list) }}"><span class="icon icon-users"></span>{% trans %}DMCA Accounts{% endtrans %}</a>
</nav>
