<div class="manga-controls">
    <select id="m-page-jump" data-bind="event: { change: jumpPage }, value: pageNum()">
        {% for i in range(1, manga.mangapage_set.count() + 1) %}
            <option value="{{ i }}">{% trans %}Page {{ i }}{% endtrans %}</option>
        {% endfor %}
    </select>
    {% if chapter_list %}
        <select class="space-right-10 m-chapter-jump" id="m-chapter-jump">
            {% for manga_ in chapter_list %}
                <option value="{{ url('manga', args=[manga_.id, manga_.slug]) }}"{% if manga_.id == manga.id %} selected{% endif %}>{% trans number=manga_.tank_chapter %}Chapter {{ number }}{% endtrans %}</option>
            {% endfor %}
        </select>
    {% endif %}
    {% if collection_list %}
        <select class="space-right-10 m-chapter-jump">
            {% for manga_ in collection_list %}
                <option value="{{ url('manga', args=[manga_.id, manga_.slug]) }}"{% if manga_.id == manga_.id %} selected{% endif %}>{% trans number=manga_.collection_part %}Part {{ number }}{% endtrans %}</option>
            {% endfor %}
        </select>
    {% endif %}
    <div class="clear"></div>
</div>
