{% import '_macros/widgets.html' as widgets with context %}
<form action="" method="get" class="filter-bar">
    <div class="right">
        {{ widgets.pagination(manga_list) }}
        {% for key, val in request.GET.items() %}
            <input type="hidden" name="{{ key }}" value="{{ val }}">
        {% endfor %}
    </div>
    <span class="btn filter-content-button">{% trans %}Filters{% endtrans %}<span class="icon icon-down-dir"></span></span>
    <div class="clear"></div>
</form>
<form action="" method="get" class="filter-content">
    <div class="filter-content-section">
        <h3 class="filter-content-header min-xs">{% trans %}Categories{% endtrans %}</h3>
        <label class="ml-filter-bar-cat manga-category-non_h">
            <input type="checkbox" name="non_h"{% if request.GET.non_h %} checked{% endif %}{% if request.GET.non_h %} checked{% endif %}>
            <span class="space-left min-sm">{% trans %}Non-H{% endtrans %}</span>
        </label>
        <label class="ml-filter-bar-cat manga-category-ecchi">
            <input type="checkbox" name="ecchi"{% if request.GET.ecchi %} checked{% endif %}>
            <span class="space-left min-sm">{% trans %}Ecchi{% endtrans %}</span>
        </label>
        <label class="ml-filter-bar-cat manga-category-vanilla">
            <input type="checkbox" name="vanilla"{% if request.GET.vanilla %} checked{% endif %}>
            <span class="space-left min-sm">{% trans %}Vanilla{% endtrans %}</span>
        </label>
        <label class="ml-filter-bar-cat manga-category-alternative">
            <input type="checkbox" name="alternative"{% if request.GET.alternative %} checked{% endif %}>
            <span class="space-left min-sm">{% trans %}Alternative{% endtrans %}</span>
        </label>
        <label class="ml-filter-bar-cat manga-category-yaoi">
            <input type="checkbox" name="yaoi"{% if request.GET.yaoi %} checked{% endif %}>
            <span class="space-left min-sm">{% trans %}Yaoi{% endtrans %}</span>
        </label>
        <label class="ml-filter-bar-cat manga-category-yuri">
            <input type="checkbox" name="yuri"{% if request.GET.yuri %} checked{% endif %}>
            <span class="space-left min-sm">{% trans %}Yuri{% endtrans %}</span>
        </label>
        <label class="ml-filter-bar-cat manga-category-other">
            <input type="checkbox" name="other"{% if request.GET.other %} checked{% endif %}>
            <span class="space-left min-sm">{% trans %}Other{% endtrans %}</span>
        </label>
    </div>
    <div class="filter-content-section">
        <h3 class="filter-content-header min-xs">{% trans %}Languages{% endtrans %}</h3>
        <select name="lang" class="space-right inline-block-middle">
            <option value="all">{% trans %}Show All Languages{% endtrans %}</option>
            {% for lang in LANGUAGES %}
                <option value="{{ lang.0 }}"{% if lang.0 == request.GET.lang %} selected{% endif %}>{{ lang.1 }}</option>
            {% endfor %}
        </select>
        <button class="btn btn-small inline-block-middle">+</button>
    </div>
</form>
