<div class="manga-controls">
    {% if collection_list %}
        <select class="space-right-10 m-chapter-jump">
            {% for manga_ in collection_list %}
                <option value="{{ url('manga', args=[manga_.id, manga_.slug]) }}"{% if manga_.id == manga.id %} selected{% endif %}>{% trans number=manga_.collection_part %}Part {{ number }}{% endtrans %}</option>
            {% endfor %}
        </select>
    {% endif %}
    {% if chapter_list %}
        <select class="space-right-10 m-chapter-jump">
            {% for manga_ in chapter_list %}
                <option value="{{ url('manga', args=[manga_.id, manga_.slug]) }}"{% if manga_.id == manga.id %} selected{% endif %}>{% trans number=manga_.tank_chapter %}Chapter {{ number }}{% endtrans %}</option>
            {% endfor %}
        </select>
    {% endif %}
    <select data-bind="event: { change: jumpPage }, value: pageNum()" class="m-page-jump space-right">
        {% for i in range(1, page_count + 1) %}
            <option value="{{ i }}">{% trans %}Page {{ i }}{% endtrans %}</option>
        {% endfor %}
    </select>
    <span>{% trans %}of {{ page_count }}{% endtrans %}</span>
    <div class="clear"></div>
</div>
