{% import '_macros/widgets.html' as widgets with context %}
<div class="filter-bar">
    <form action="" method="get" class="right" id="manga-filter-pagination">
        {{ widgets.pagination(manga_list) }}
        {% for key, val in (request.GET|exclude_keys('p')).items() %}
            <input type="hidden" name="{{ key }}" value="{{ val }}">
        {% endfor %}
    </form>
    <span class="btn toggle-switch max-xs" data-toggle-id="manga-list-filters" data-toggle-text="{% trans %}Hide Filters{% endtrans %}">{% trans %}Show Filters{% endtrans %}</span>
    <form action="" method="get" id="manga-list-filters">
        <div class="manga-filter-section">
            <label class="ml-filter-bar-cat manga-category-non_h">
                <input type="checkbox" name="non_h"{% if request.GET.non_h %} checked{% endif %}{% if request.GET.non_h %} checked{% endif %}>
                <span class="space-left min-sm">{% trans %}Non-H{% endtrans %}</span>
            </label>
            <label class="ml-filter-bar-cat manga-category-ecchi">
                <input type="checkbox" name="ecchi"{% if request.GET.ecchi %} checked{% endif %}>
                <span class="space-left min-sm">{% trans %}Ecchi{% endtrans %}</span>
            </label>
            <label class="ml-filter-bar-cat manga-category-vanilla">
                <input type="checkbox" name="vanilla"{% if request.GET.vanilla %} checked{% endif %}>
                <span class="space-left min-sm">{% trans %}Vanilla{% endtrans %}</span>
            </label>
            <label class="ml-filter-bar-cat manga-category-alternative">
                <input type="checkbox" name="alternative"{% if request.GET.alternative %} checked{% endif %}>
                <span class="space-left min-sm">{% trans %}Alternative{% endtrans %}</span>
            </label>
            <label class="ml-filter-bar-cat manga-category-yaoi">
                <input type="checkbox" name="yaoi"{% if request.GET.yaoi %} checked{% endif %}>
                <span class="space-left min-sm">{% trans %}Yaoi{% endtrans %}</span>
            </label>
            <label class="ml-filter-bar-cat manga-category-yuri">
                <input type="checkbox" name="yuri"{% if request.GET.yuri %} checked{% endif %}>
                <span class="space-left min-sm">{% trans %}Yuri{% endtrans %}</span>
            </label>
            <label class="ml-filter-bar-cat manga-category-other">
                <input type="checkbox" name="other"{% if request.GET.other %} checked{% endif %}>
                <span class="space-left min-sm">{% trans %}Other{% endtrans %}</span>
            </label>
        </div>
        <div class="manga-filter-section">
            <select name="lang" class="manga-list-language-filter">
                <option value="">{% trans %}All Languages{% endtrans %}&nbsp;&nbsp;</option>
                {% for lang in LANGUAGES %}
                    <option value="{{ lang.0 }}"{% if lang.0 == request.GET.lang %} selected{% endif %}>{{ lang.1 }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="manga-filter-section" id="manga-filter-section-button">
            <button type="submit" class="btn btn-primary" form="manga-list-filters">{% trans %}Apply Filters{% endtrans %}</button>
        </div>
    </form>
</div>
