/* --------------------------------------------------
    external
---------------------------------------------------*/

@import 'external/entypo';

/* --------------------------------------------------
    modules
---------------------------------------------------*/

@import 'modules/variables';
@import 'modules/mixins';

* {
    .box-sizing();

    font-family: @font-family-base;
    font-size: @font-size-base;
    font-weight: @font-weight-base;
    line-height: @line-height-base;

    margin: 0;
    padding: 0;
}


html, body {
    background-color: @color-bg;
    min-width: 320px;
}

@import 'modules/typography';
@import 'modules/grid';
@import 'modules/forms';
@import 'modules/buttons';
@import 'modules/alerts';
@import 'modules/tables';
@import 'modules/globals';

/* --------------------------------------------------
    apps
---------------------------------------------------*/

@import 'apps/header';
@import 'apps/nav';
@import 'apps/content';
@import 'apps/footer';

@import 'apps/account';
@import 'apps/manga';
@import 'apps/tag';
@import 'apps/upload';
