{% extends 'base.html' %}

{% block title %}{% trans %}Markdown Playground{% endtrans %}{% endblock %}

{% block content %}
    <div class="container">
        <div class="panel">
            <h4 class="panel-heading">{% trans %}Markdown Playground{% endtrans %}</h4>
            <div class="panel-body">
                <p><a href="http://en.wikipedia.org/wiki/Markdown" target="_blank">{% trans %}What is Markdown?{% endtrans %}</a></p>
                <p class="space-bottom-0">{% trans %}Markdown is used throughout this site for commenting, writing descriptions, editing tags and much more.{% endtrans %}</p>
                <p>{% trans %}Try out what you can do with markdown below!{% endtrans %}</p>
            </div>
        </div>
        <div class="half-wrapper">
            <div class="half half-sm">
                <textarea id="markdown-playground" rows="40">みなさん、こんにちは

H1 Heading
==========

H2 Heading
----------

---

[Link to Fufufuu](https://fufufuu.net/)

This is a simple paragraph.

* List Item 1
* List Item 2
* List Item 3

> Block Quote 1
> Block Quote 2

1. Ordered List Item 1
1. Ordered List Item 2
1. Ordered List Item 3

Below is a code block:

    This is a simple code block.

**Bolded Text**

*Italicized Text*

<script type="text/javascript">alert('hello world!');</script></textarea>
            </div>
            <div class="half half-sm">
                <div class="markdown markdown-preview" data-for="markdown-playground"></div>
            </div>
        </div>
    </div>
{% endblock %}
