{% extends 'manga/manga-base.html' %}

{% block title %}{% trans title=manga.title %}{{ title }} - Thumbnails{% endtrans %}{% endblock %}

{% block content %}
    <div class="container">
        <ul class="mtl">
            {% for page in manga_page_list %}
                <li class="mtli">
                    <a href="{{ url('manga', args=[manga.id, manga.slug]) }}#/page/{{ page.page }}/" class="mtli-inner block">
                        <div class="mtli-image-wrapper">
                            {% if page.image %}
                                <img class="lazy-image" src="{{ STATIC_URL }}images/loading.png" data-src="{{ page.image_thumbnail_url }}">
                            {% else %}
                                <img src="{{ STATIC_URL }}images/no-image.png">
                            {% endif %}
                        </div>
                        <div class="mtli-info">
                            <span>{{ page.page }}</span>
                        </div>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
