{% extends 'manga/manga-base.html' %}
{% import '_macros/forms.html' as forms with context %}

{% block title %}{% trans title=manga.title %}Edit Images: {{ title }}{% endtrans %}{% endblock %}

{% block content %}
    <div class="relative">
        <div class="container-fat manga-edit-main">
            <form action="" method="post" enctype="multipart/form-data">
                <ul class="upload-pl">
                    {{ formset.management_form }}
                    {% for form in formset %}{% with page=form.instance %}
                        <li class="upload-pli">
                            {{ form.id }}
                            <img src="{{ page.image.url }}">
                        </li>
                    {% endwith %}{% endfor %}
                </ul>
            </form>
        </div>
        <div class="manga-edit-sidebar">
            <hr class="max-lg">
            <form action="{{ url('manga.edit.upload', args=[manga.id, manga.slug]) }}" method="post" enctype="multipart/form-data" class="panel space-bottom-15">
                {{ forms.csrf_token(csrf_token) }}
                <h5 class="panel-heading">{% trans %}Upload a Zip File{% endtrans %}</h5>
                <div class="panel-body">
                    <input type="file" name="zipfile" id="id_zipfile">
                    <p class="help-block space-top-10">{% trans %}Maximum file size: 50MB{% endtrans %}</p>
                </div>
            </form>
            <form action="{{ url('manga.edit.upload', args=[manga.id, manga.slug]) }}" method="post" enctype="multipart/form-data" class="panel">
                {{ forms.csrf_token(csrf_token) }}
                <h5 class="panel-heading">{% trans %}Upload Image Files{% endtrans %}</h5>
                <div class="panel-body">
                    <input type="file" multiple="multiple" name="images" id="id_images">
                    <p class="help-block space-top-10">{% trans %}Maximum total size: 50MB{% endtrans %}</p>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
