{% extends 'manga/manga-base.html' %}
{% import '_macros/forms.html' as forms with context %}
{% import '_macros/widgets.html' as widgets with context %}

{% macro tag_widget(tag_list, title) %}
    {% if tag_list %}
        <div class="panel manga-info-panel">
            <h5 class="panel-heading">{{ title }}</h5>
            <div class="panel-body manga-info-tag-list">
                {% for tag in tag_list %}
                    <a href="{{ url('tag', args=[tag.id, tag.slug]) }}" class="manga-info-tag-item">{{ tag.name }}</a>
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endmacro %}

{% block title %}{{ manga.title }}{% endblock %}

{% block content %}
    <div id="manga-info-read" class="manga-info-section">
        <a href="{{ url('manga', args=[manga.id, manga.slug]) }}" title="{{ manga.title }}" class="manga-info-cover">
            {% if manga.cover %}
                <img class="lazy-image" src="{{ manga.cover|image_resize('manga_info_cover', manga.id) }}" alt="{{ manga.title }}">
            {% else %}
                <img class="lazy-image" src="{{ STATIC_URL }}images/no-image.png" alt="{{ manga.title }}">
            {% endif %}
            <strong>{% trans %}Read Online{% endtrans %}<span class="icon icon-right-open space-left-5"></span></strong>
        </a>
        <form action="{{ url('manga.download', args=[manga.id, manga.slug]) }}" method="post">
            {{ forms.csrf_input() }}
            <button class="btn btn-warning btn-block">
                <strong>{% trans %}Download (26.2MB){% endtrans %}</strong>
                <span class="icon icon-down-circled space-left"></span>
            </button>
        </form>
    </div>
    <div id="manga-info-tags" class="manga-info-section">
        <h2 id="tags" class="manga-info-header">{% trans %}Tags{% endtrans %}</h2>
        <div data-section="tags">
            <div class="panel manga-info-panel">
                <h5 class="panel-heading">{% trans %}Uploader{% endtrans %}</h5>
                <div class="panel-body">
                    <a href="#">
                        <span class="left space-right-10">{{ widgets.user_avatar(manga.created_by) }}</span>
                        <strong>{{ manga.created_by }}</strong>
                        <p class="text-secondary text-xsmall space-bottom-0">{% trans date=manga.created_on|naturaltime %}Uploaded {{ date }}{% endtrans %}</p>
                        <div class="clear"></div>
                    </a>
                </div>
            </div>
            {{ tag_widget(manga.tag_dictionary.SCANLATOR, gettext('Scanlators')) }}
            {{ tag_widget(manga.tag_dictionary.AUTHOR, gettext('Authors')) }}
            {{ tag_widget(manga.tag_dictionary.CIRCLE, gettext('Circles')) }}
            {{ tag_widget(manga.tag_dictionary.CONTENT, gettext('Content')) }}
            {{ tag_widget(manga.tag_dictionary.EVENT, gettext('Event')) }}
            {{ tag_widget(manga.tag_dictionary.MAGAZINE, gettext('Magazine')) }}
            {{ tag_widget(manga.tag_dictionary.Parody, gettext('Parody')) }}
{#            <div class="panel manga-info-panel">#}
{#                <h5 class="panel-heading">{% trans %}Statistics{% endtrans %}</h5>#}
{#                <div class="panel-body">#}
{#                    <p class="space-bottom-0">{% trans %}32890 Downloads{% endtrans %}</p>#}
{#                    <p class="space-bottom-0">{% trans %}719 Favorites{% endtrans %}</p>#}
{#                    <p>{% trans %}513 Comments{% endtrans %}</p>#}
{#                </div>#}
{#            </div>#}
        </div>
    </div>
    <div id="manga-info-related" class="manga-info-section">
        <h2 id="related" class="manga-info-header">{% trans %}Related{% endtrans %}</h2>
        <div data-section="related"></div>
    </div>
    <div id="manga-info-comments" class="manga-info-section">
        <h2 id="comments" class="manga-info-header">{% trans %}Comments{% endtrans %}</h2>
        <div data-section="comments"></div>
    </div>
{% endblock %}
