{% extends 'base.html' %}
{% import '_macros/widgets.html' as widgets %}

{% block title %}{% trans %}Latest{% endtrans %}{% endblock %}

{% block content %}
    <form class="ml-control-bar">
        <div class="ml-control-bar-cat-wrapper">
            <label class="ml-control-bar-cat manga-category-non-h">
                <input type="checkbox" name="nonh">
                <span for="id_nonh">{% trans %}Non-H{% endtrans %}</span>
            </label>
            <label class="ml-control-bar-cat manga-category-ecchi">
                <input type="checkbox" name="ecchi">
                <span>{% trans %}Ecchi{% endtrans %}</span>
            </label>
            <label class="ml-control-bar-cat manga-category-vanilla">
                <input type="checkbox" name="vanilla">
                <span>{% trans %}Vanilla{% endtrans %}</span>
            </label>
            <label class="ml-control-bar-cat manga-category-alternative">
                <input type="checkbox" name="alternative">
                <span>{% trans %}Alternative{% endtrans %}</span>
            </label>
            <label class="ml-control-bar-cat manga-category-yaoi">
                <input type="checkbox" name="yaoi">
                <span>{% trans %}Yaoi{% endtrans %}</span>
            </label>
            <label class="ml-control-bar-cat manga-category-yuri">
                <input type="checkbox" name="yuri">
                <span>{% trans %}Yuri{% endtrans %}</span>
            </label>
            <label class="ml-control-bar-cat manga-category-other">
                <input type="checkbox" name="other">
                <span>{% trans %}Other{% endtrans %}</span>
            </label>
            <button type="submit" class="btn btn-primary ml-control-bar-cat-button">{% trans %}Go{% endtrans %}</button>
        </div>
        {{ widgets.pagination(manga_list, request) }}
    </form>
    <ul class="ml">
        {% for manga in manga_list %}
            {% set url_manga = url('manga', args=[manga.id, manga.slug]) %}
            <li class="mli">
                <div class="mli-core">
                    <a href="{{ url_manga }}" target="_blank">
                        {% if manga.cover %}
                            <img class="lazy-image" src="{{ STATIC_URL }}images/loading.png" data-src="{{ STATIC_URL }}images/placeholder/placeholder-200x300.png" data-src-retina="{{ STATIC_URL }}images/placeholder/placeholder-400x600.png">
                        {% else %}
                            <img class="lazy-image" src="{{ STATIC_URL }}images/loading.png" data-src="{{ STATIC_URL }}images/no-image.png">
                        {% endif %}
                    </a>
                    <a href="{{ url_manga }}" class="block mli-title">{{ manga.title }}</a>
                </div>
            </li>
        {% endfor %}
    </ul>
    <div class="control-bar text-center">
        {{ widgets.pagination(manga_list, request) }}
    </div>
{% endblock %}
