{% extends 'manga/manga-base.html' %}
{% import '_macros/widgets.html' as widgets with context %}

{% block title %}{% trans title=manga.title %}History - {{ title }}{% endtrans %}{% endblock %}

{% block content %}
    <div class="container width-800">
        <ul class="message-list space-bottom-10">
            <li class="message message-info">{% trans %}This page lists the changes that were made to this manga/doujinshi.{% endtrans %}</li>
        </ul>
        {% for revision in revision_list %}
            <div class="panel panel-thin">
                <div class="panel-heading">
                    <span class="left space-right-10">{{ widgets.user_avatar(revision.created_by) }}</span>
                    <strong>{{ manga.created_by }}</strong>
                    <p class="text-secondary text-xsmall space-bottom-0">{% trans date=revision.created_on|naturaltime %}Edited {{ date }}{% endtrans %}</p>
                    <div class="clear"></div>
                </div>
                <div class="panel-body">
                    {{ revision.diff }}
                </div>
            </div>
        {% else %}
            <div class="panel">
                <h4 class="panel-heading">{% trans %}No History{% endtrans %}</h4>
                <div class="panel-body">
                    <p>{% trans %}A new history entry will show up on this page when this manga or doujinshi has been updated by a user.{% endtrans %}</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
