{% set url_manga = url('manga', args=[manga.id, manga.slug]) %}
{% set url_manga_history = url('manga.history', args=[manga.id, manga.slug]) %}
{% set url_manga_edit = url('manga.edit', args=[manga.id, manga.slug]) %}
{% set url_manga_edit_images = url('manga.edit.images', args=[manga.id, manga.slug]) %}
<div id="m-nav">
    <div class="right min-md">
        <a href="{{ url_manga_history }}"{% if request.path == url_manga_history %} class="active"{% endif %}>
            <span class="icon icon-back-in-time"></span>
            <span>{% trans %}History{% endtrans %}</span>
        </a>
        <a href="{{ url_manga_edit }}"{% if request.path == url_manga_edit %} class="active"{% endif %}>
            <span class="icon icon-pencil"></span>
            <span>{% trans %}Edit{% endtrans %}</span>
        </a>
        <a href="{{ url_manga_edit_images }}"{% if request.path == url_manga_edit_images %} class="active"{% endif %}>
            <span class="icon icon-pencil"></span>
            <span>{% trans %}Edit Images{% endtrans %}</span>
        </a>
    </div>
    <div class="m-nav-main">
        <a href="{{ url_manga }}"{% if request.path == url_manga %} class="active"{% endif %}>
            <span class="icon icon-docs"></span>
            <span class="min-xs">{% trans %}Read{% endtrans %}</span>
        </a>
        <a href="#">
            <span class="icon icon-sweden"></span>
            <span class="min-xs">{% trans %}Thumbnails{% endtrans %}</span>
        </a>
        <a href="#">
            <span class="icon icon-comment"></span>
            <span class="min-xs">{% trans %}Comments{% endtrans %}</span>
        </a>
        <a href="#">
            <span class="icon icon-down-circled"></span>
            <span class="min-xs">{% trans %}Download{% endtrans %}</span>
        </a>
        <a href="#">
            <span class="icon icon-heart-empty"></span>
            <span class="min-xs">{% trans %}Favorite{% endtrans %}</span>
        </a>
        <a href="#">
            <span class="icon icon-attention"></span>
            <span class="min-xs">{% trans %}Report{% endtrans %}</span>
        </a>
    </div>
</div>
