{% extends 'manga/manga-base.html' %}
{% import '_macros/forms.html' as forms with context %}

{% block title %}{% trans title=manga.title %}Edit Images: {{ title }}{% endtrans %}{% endblock %}

{% block content %}
    <div class="container-fat relative">
        {% if formset|length > 0 %}
            <form action="" method="post" enctype="multipart/form-data" style="min-height: 314px;">
                <div class="manga-edit-main space-bottom-15">
                    <ul class="mtl">
                        {{ forms.csrf_token(csrf_token) }}
                        {{ formset.management_form }}
                        {% for form in formset %}{% with page=form.instance %}
                            <li class="mtli">
                                <div class="mtli-inner">
                                    {{ form.id }}
                                    <div class="mtli-image-wrapper move">
                                        {% if page.image %}
                                            <img class="lazy-image" src="{{ STATIC_URL }}images/loading.png" data-src="{{ page.image|image('manga_thumb', page.id) }}" data-src-retina="{{ page.image|image('manga_thumb_retina', page.id) }}">
                                        {% else %}
                                            <img src="{{ STATIC_URL }}images/no-image.png">
                                        {% endif %}
                                    </div>
                                    <div class="mtli-info">
                                        <label class="right">{{ form.select }}</label>
                                        {{ form.ORDER }}
                                        {% if page.image %}
                                            <a href="{{ page.image.url }}" target="_blank" class="mtli-link"{% if page.name %} title="{{ page.name }}"{% endif %}>{% if page.name %}{{ page.name }}{% else %}{{ page.page }}{% endif %}</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </li>
                        {% endwith %}{% endfor %}
                    </ul>
                </div>
                <div class="manga-edit-sidebar">
                    <div class="well space-bottom-15">
                        <p class="help-block">{% trans %}Images can be re-ordered by dragging and dropping. Remember to save after re-ordering images.{% endtrans %}</p>
                    </div>
                    <div class="well space-bottom-15">
                        <button class="btn btn-primary" name="action" value="reorder">{% trans %}Save Order{% endtrans %}</button>
                        <button class="btn btn-primary" name="action" value="set_cover" id="id_button_set_cover"{% if formset.selected_forms|length != 1 %} disabled="disabled"{% endif %}>{% trans %}Set Selected as Cover{% endtrans %}</button>
                        <button class="btn btn-error" name="action" value="delete" id="id_button_delete"{% if formset.selected_forms|length == 0 %} disabled="disabled"{% endif %}>{% trans %}Delete Selected{% endtrans %}</button>
                    </div>
                </div>
            </form>
            <hr class="min-lg">
        {% else %}
            <div class="panel">
                <h5 class="panel-heading">{% trans %}Getting Started with Uploading{% endtrans %}</h5>
                <div class="panel-body">
                    <p>{% trans %}Please remember to check that you are not violiating any rules or uploading a duplicate.{% endtrans %}</p>
                    <h4 class="space-bottom-10">{% trans %}Upload Rules{% endtrans %}</h4>
                    <p class="space-bottom-10">{% trans %}The following content should <strong>NOT</strong> be uploaded to Fufufuu:{% endtrans %}</p>
                    <ul class="bullet-list">
                        <li><a href="http://en.wikipedia.org/wiki/Lolicon" target="_blank">{% trans %}Loli and Shota{% endtrans %}</a></li>
                        <li><a href="http://en.wikipedia.org/wiki/Coprophilia" target="_blank">{% trans %}Scat{% endtrans %}</a></li>
                        <li><a href="http://en.wikipedia.org/wiki/Zoophilia#Bestiality" target="_blank">{% trans %}Beastiality{% endtrans %}</a></li>
                        <li><a href="http://en.wikipedia.org/wiki/Ero_guro" target="_blank">{% trans %}Ero Guro{% endtrans %}</a></li>
                        <li><a href="http://en.wikipedia.org/wiki/Vorarephilia" target="_blank">{% trans %}Vore{% endtrans %}</a></li>
                    </ul>
                    <p class="help-block">{% trans %}Note: If you come across uploaded content that is unfit for Fufufuu, please help report it.{% endtrans %}</p>
                    <h4 class="space-bottom-10">{% trans %}Upload Guidelines{% endtrans %}</h4>
                    <ul class="bullet-list">
                        <li>{% trans %}There is a hard limit of 100 images per upload{% endtrans %}</li>
                        <li>{% trans %}There is a hard limit of 200 MB per upload{% endtrans %}</li>
                        <li>{% trans %}Each image file must to be smaller than 8000x8000 pixels{% endtrans %}</li>
                        <li>{% trans %}Each image file must to be smaller than 8MB{% endtrans %}</li>
                        <li>{% trans %}Each image file must be in either JPG or PNG format{% endtrans %} </li>
                        <li>{% trans %}Please only upload Japanese manga/doujinshi, no Western comics allowed!{% endtrans %}</li>
                    </ul>
                </div>
            </div>
        {% endif %}
        <form action="{{ url('manga.edit.upload', args=[manga.id, manga.slug]) }}" method="post" enctype="multipart/form-data" class="half-wrapper">
            <div class="half half-sm">
                <div class="panel panel">
                    {{ forms.csrf_token(csrf_token) }}
                    <h5 class="panel-heading">{% trans %}Upload a Zip File{% endtrans %}</h5>
                    <div class="panel-body">
                        <input type="file" name="zipfile" id="id_zipfile">
                        <p class="help-block space-top-10 space-bottom-0">{% trans %}Maximum file size: 50MB{% endtrans %}</p>
                        <p class="help-block">&nbsp;</p>
                    </div>
                </div>
            </div>
            <div class="half half-sm">
                <div class="panel">
                    {{ forms.csrf_token(csrf_token) }}
                    <h5 class="panel-heading">{% trans %}Upload Image Files{% endtrans %}</h5>
                    <div class="panel-body">
                        <input type="file" multiple="multiple" name="images" id="id_images">
                        <p class="help-block space-top-10 space-bottom-0">{% trans %}Note: hold ctrl/shift (command for Mac) to select multiple files{% endtrans %}</p>
                        <p class="help-block">{% trans %}Maximum total size: 50MB{% endtrans %}</p>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
