{% extends 'manga/manga-base.html' %}
{% import '_macros/forms.html' as forms with context %}
{% import '_macros/widgets.html' as widgets with context %}

{% macro process_value(field, value) %}
    {% if field == 'category' %}
        <span class="manga-category manga-category-{{ value.lower() }}">{{ value|manga_category_display }}</span>
    {% elif field == 'status' %}
        <span class="manga-status manga-status-{{ value.lower() }}">{{ value|manga_status_display }}</span>
    {% elif field == 'language' %}
        <span class="manga-category manga-category-other">{{ value|language_display }}</span>
    {% else %}
        <span>{{ value }}</span>
    {% endif %}
{% endmacro %}

{% macro revision_tags(tag_set, icon_class) %}
    {% for tag_type, name in tag_set %}
        <div class="{% if not loop.last %}space-bottom{% endif %}">
            <span class="icon icon-{{ icon_class }}"></span>
            <span class="space-right-10">{{ tag_type|tag_type_display }}</span>
            <span class="manga-tag">{{ name }}</span>
        </div>
    {% endfor %}
{% endmacro %}

{% block title %}{% trans title=manga.title %}Revisions - {{ title }}{% endtrans %}{% endblock %}

{% block content %}
    <div class="container width-800">
        <ul class="message-list space-bottom-10">
            <li class="message message-info">{% trans %}This page lists the changes that were made to this manga/doujinshi.{% endtrans %}</li>
        </ul>
        {% for revision in revision_list %}
            <div class="panel panel-thin panel-revision-{{ revision.status|lower }}">
                <div class="panel-heading">
                    <span class="left space-right-10">{{ widgets.user_avatar(revision.created_by) }}</span>
                    <strong>{{ revision.created_by.username }}</strong>
                    <p class="text-secondary text-xsmall space-bottom-0">{% trans date=revision.created_on|naturaltime %}Edited {{ date }}{% endtrans %}</p>
                    <div class="clear"></div>
                    {% if revision.status == 'PENDING' %}
                        <p class="space-bottom-0 space-top-10 help-block">{% trans %}This revision is pending approval. The changes will be visible to everyone once this revision is approved.{% endtrans %}</p>
                    {% elif revision.status == 'APPROVED' %}
                        <p class="space-bottom-0 space-top-10 help-block">{% trans %}This revision was approved.{% endtrans %}</p>
                    {% elif revision.status == 'REJECTED' %}
                        <p class="space-bottom-0 space-top-10 help-block">{% trans %}This revision was rejected.{% endtrans %}</p>
                    {% endif %}
                    {% if user == revision.created_by and revision.status == 'PENDING' %}
                        <form action="" method="post" class="space-top-10">
                            {{ forms.csrf_input }}
                            <button class="btn btn-error">{% trans %}Withdraw Revision{% endtrans %}</button>
                        </form>
                    {% endif %}
                    {% if revision.status == 'PENDING' and (user == manga.created_by or user.is_staff) %}
                        <form action="" method="post" class="space-top-10">
                            {{ forms.csrf_input() }}
                            <input type="hidden" name="revision_id" value="{{ revision.id }}">
                            <button class="btn btn-primary space-right-10">{% trans %}Approve Revision{% endtrans %}</button>
                            <button class="btn btn-error">{% trans %}Reject Revision{% endtrans %}</button>
                        </form>
                    {% endif %}
                </div>
                <div class="panel-body panel-body-no-padding">
                    <table class="panel-table">
                        {% for field, values in revision.diff.items()|sort %}
                            {% if field == 'markdown' %}
                            {% else %}
                                <tr>
                                    <td width="100"><label class="label-normalized">{{ MANGA_FIELDNAME_MAP[field] }}</label></td>
                                    <td>
                                        {% if field == 'tags' %}
                                            {{ revision_tags(revision.tags[0]-revision.tags[1], 'minus') }}
                                            {{ revision_tags(revision.tags[1]-revision.tags[0], 'plus') }}
                                        {% elif field == 'html' %}
                                            <button class="btn btn-small toggle-switch" data-toggle-class="field_{{ revision.id }}_{{ field }}" data-toggle-text="{% trans %}Hide{% endtrans %}">{% trans %}Show{% endtrans %}</button>
                                            <div class="none field_{{ revision.id }}_{{ field }} space-top-10">{{ values[1] }}</div>
                                        {% else %}
                                            {% if values[0] %}
                                                {{ process_value(field, values[0]) }}
                                                <span class="icon icon-right-thin space-left-10 space-right-10"></span>
                                            {% endif %}
                                            {{ process_value(field, values[1]) }}
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </table>
                </div>
            </div>
        {% else %}
            <div class="panel">
                <h4 class="panel-heading">{% trans %}No Revisions Recorded{% endtrans %}</h4>
                <div class="panel-body">
                    <p>{% trans %}A new revision entry will show up on this page when this manga or doujinshi has been updated.{% endtrans %}</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/libs/markdown.min.js?version={{ RESOURCE_VERSION }}"></script>
{% endblock %}
