{% extends 'manga/manga-base.html' %}
{% import '_macros/forms.html' as forms with context %}

{% block title %}{% trans title=manga.title %}Edit: {{ title }}{% endtrans %}{% endblock %}

{% block content %}
    <form action="" method="post" enctype="multipart/form-data">
        <div class="container manga-edit-main">
            {{ forms.csrf_input() }}
            {{ forms.non_field_errors(form) }}
            <div class="half-wrapper">
                <div class="half half-md">
                    {{ forms.field(form.title) }}
                    <table class="table-full-border space-top-10">
                        <tr>
                            <td width="120"><label>{% trans %}Current{% endtrans %}</label></td>
                            <td>
                                {% if manga.cover %}
                                    <img src="{{ STATIC_URL }}images/loading.png" data-src="{{ manga.cover|image_resize('manga_cover', manga.id) }}" class="lazy-image manga-cover">
                                {% else %}
                                    <img src="{{ STATIC_URL }}images/no-image.png" class="manga-cover">
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td width="120">{{ form.cover.label_tag() }}</td>
                            <td>{{ form.cover }}</td>
                        </tr>
                    </table>
                    <table class="table-full-border space-top-10 space-bottom-10">
                        <tr>
                            <td width="120">{{ form.language.label_tag() }}</td>
                            <td>{{ form.language }}</td>
                        </tr>
                        <tr>
                            <td width="120">{{ form.uncensored.label_tag() }}</td>
                            <td>{{ form.uncensored }}</td>
                        </tr>
                    </table>
                    {{ forms.field(form.markdown) }}
                    <div class="markdown markdown-preview" data-for="id_markdown"></div>
                </div>
                <div class="half half-md">
                    {% if manga.title == 'Untitled' and manga.status == 'DRAFT' %}
                        <div class="well space-bottom-10">
                            <p class="help-block space-bottom-0">{% trans %}Tags should be entered as a <strong>comma</strong> separated list of text. Here's is an example list of authors:{% endtrans %}</p>
                            <p><strong>{% trans %}Panda Niku, Ookuma Nekosuke{% endtrans %}</strong></p>
                            <p class="help-block">{% trans %}"Panda Niku" and "Ookuma Nekosuke" will show up as two separate authors.{% endtrans %}</p>
                        </div>
                    {% endif %}
                    <table class="table-full-border space-bottom-10 manga-edit-inputs">
                        <tr>
                            <td width="120">{{ form.authors.label_tag() }}</td>
                            <td>{{ form.authors }}</td>
                        </tr>
                        <tr>
                            <td width="120">{{ form.circles.label_tag() }}</td>
                            <td>{{ form.circles }}</td>
                        </tr>
                        <tr>
                            <td width="120">{{ form.content.label_tag() }}</td>
                            <td>{{ form.content }}</td>
                        </tr>
                        <tr>
                            <td width="120">{{ form.events.label_tag() }}</td>
                            <td>{{ form.events }}</td>
                        </tr>
                        <tr>
                            <td width="120">{{ form.magazines.label_tag() }}</td>
                            <td>{{ form.magazines }}</td>
                        </tr>
                        <tr>
                            <td width="120">{{ form.parodies.label_tag() }}</td>
                            <td>{{ form.parodies }}</td>
                        </tr>
                        <tr>
                            <td width="120">{{ form.scanlators.label_tag() }}</td>
                            <td>{{ form.scanlators }}</td>
                        </tr>
                    </table>
                    <table class="table-full-border space-bottom-10 manga-edit-inputs">
                        <tr>
                            <td width="120">{{ form.tank.label_tag() }}</td>
                            <td>{{ form.tank }}</td>
                            <td width="80">{{ form.tank_chapter.label_tag() }}</td>
                            <td width="100">{{ form.tank_chapter }}</td>
                        </tr>
                    </table>
                    <table class="table-full-border space-bottom-10 manga-edit-inputs">
                        <tr>
                            <td width="120">{{ form.collection.label_tag() }}</td>
                            <td>{{ form.collection }}</td>
                            <td width="80">{{ form.collection_part.label_tag() }}</td>
                            <td width="100">{{ form.collection_part }}</td>
                        </tr>
                    </table>
                    <table class="table-full-border space-bottom manga-edit-inputs">
                        <tr>
                            <td width="120">{{ form.category.label_tag() }}</td>
                            <td>
                                <div class="manga-edit-category-table">
                                    <table>
                                        <tr>
                                            <td width="30"><input id="id_category_0" name="category" type="radio" value="NON_H"{% if form.category.value() == "NON_H" %} checked="checked"{% endif %}></td>
                                            <td width="85"><label for="id_category_0"><div class="manga-category manga-category-non_h block">{% trans %}Non-H{% endtrans %}</div></label></td>
                                            <td><label for="id_category_0">{% trans %}Non-pornographic doujinshi, no nudity.{% endtrans %}</label></td>
                                        </tr>
                                        <tr>
                                            <td><input id="id_category_1" name="category" type="radio" value="ECCHI"{% if form.category.value() == "ECCHI" %} checked="checked"{% endif %}></td>
                                            <td><label for="id_category_1"><div class="manga-category manga-category-ecchi">{% trans %}Ecchi{% endtrans %}</div></label></td>
                                            <td><label for="id_category_1">{% trans %}Only softcore nudity is permitted.{% endtrans %}</label></td>
                                        </tr>
                                        <tr>
                                            <td><input id="id_category_2" name="category" type="radio" value="VANILLA"{% if form.category.value() == "VANILLA" %} checked="checked"{% endif %}></td>
                                            <td><label for="id_category_2"><div class="manga-category manga-category-vanilla">{% trans %}Vanilla{% endtrans %}</div></label></td>
                                            <td><label for="id_category_2">{% trans %}Mild adult content, cute/romantic stories.{% endtrans %}</label></td>
                                        </tr>
                                        <tr>
                                            <td><input id="id_category_3" name="category" type="radio" value="ALTERNATIVE"{% if form.category.value() == "ALTERNATIVE" %} checked="checked"{% endif %}></td>
                                            <td><label for="id_category_3"><div class="manga-category manga-category-alternative">{% trans %}Alternative{% endtrans %}</div></label></td>
                                            <td><label for="id_category_3">{% trans %}Futunari, BDSM, tentacles, NTR, mind-break, monster girls.{% endtrans %}</label></td>
                                        </tr>
                                        <tr>
                                            <td><input id="id_category_4" name="category" type="radio" value="YURI"{% if form.category.value() == "YURI" %} checked="checked"{% endif %}></td>
                                            <td><label for="id_category_4"><div class="manga-category manga-category-yuri">{% trans %}Yuri{% endtrans %}</div></label></td>
                                            <td><label for="id_category_4">{% trans %}Contains two or more women, no men.{% endtrans %}</label></td>
                                        </tr>
                                        <tr>
                                            <td><input id="id_category_5" name="category" type="radio" value="YAOI"{% if form.category.value() == "YAOI" %} checked="checked"{% endif %}></td>
                                            <td><label for="id_category_5"><div class="manga-category manga-category-yaoi">{% trans %}Yaoi{% endtrans %}</div></label></td>
                                            <td><label for="id_category_5">{% trans %}Boys' Love, male sexual relationships (bara included).{% endtrans %}</label></td>
                                        </tr>
                                        <tr>
                                            <td><input id="id_category_6" name="category" type="radio" value="OTHER"{% if form.category.value() == "OTHER" %} checked="checked"{% endif %}></td>
                                            <td><label for="id_category_6"><div class="manga-category manga-category-other">{% trans %}Other{% endtrans %}</div></label></td>
                                            <td><label for="id_category_6">{% trans %}This does not fit into any other categories.{% endtrans %}</label></td>
                                        </tr>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="manga-edit-sidebar">
            <div class="well space-bottom-10">
                {% if user == manga.created_by or user.is_moderator %}
                    <button type="submit" class="btn btn-primary" name="action" value="save">{% trans %}Save{% endtrans %}</button>
                {% else %}
                    <button type="submit" class="btn btn-primary" name="action" value="save">{% trans %}Suggest Changes{% endtrans %}</button>
                    <p class="help-block space-top-10">{% trans %}Your edits will be applied when the uploader or a moderator or has reviewed them.{% endtrans %}</p>
                {% endif %}
            </div>
            {% if manga.status == 'DRAFT' %}
                <div class="well space-bottom-10">
                    <button type="submit" class="btn btn-warning" name="action" value="publish">{% trans %}Save and Publish{% endtrans %}</button>
                    <p class="help-block space-top-10">{% trans %}This will publish the current upload to the front page of Fufufuu.{% endtrans %}</p>
                </div>
            {% endif %}
            {% if user == manga.created_by or user.is_moderator %}
                <div class="well">
                    <button type="submit" class="btn btn-error" name="action" value="delete">{% trans %}Delete{% endtrans %}</button>
                    <p class="help-block space-top-10">{% trans %}This will remove the current upload from Fufufuu permanently.{% endtrans %}</p>
                </div>
            {% endif %}
        </div>
    </form>
{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/libs/markdown.min.js?version={{ RESOURCE_VERSION }}"></script>
{% endblock %}
