{% extends 'manga/manga-base.html' %}
{% import '_macros/comments.html' as comments with context %}
{% import '_macros/widgets.html' as widgets with context %}

{% block title %}{{ manga.title }}{% endblock %}

{% block content %}
    <div id="manga-page-container">
        <div class="manga-container">
            <div class="max-lg">{% include 'manga/_include/manga-controls.html' %}</div>
            <div class="manga-main" data-bind="css: { double: double() }">
                <a id="manga-prev-page" data-bind="attr: { href: prevUrl() }"></a>
                <a id="manga-next-page" data-bind="attr: { href: nextUrl() }"></a>
                <div data-bind="html: image()" class="manga-image-container"></div>
            </div>
            <div class="manga-comments">
                {% if manga.category in ['NON_H', 'ECCHI'] %}
                {% else %}
                    <div class="ad295298 min-sm"></div>
                    <div class="ad295299 ad295299-bottom max-sm "></div>
                {% endif %}
                <hr>
                {{ comments.comments_widget(manga) }}
            </div>
        </div>
        {% include 'manga/_include/manga-info.html' %}
    </div>
    <div id="payload" class="none">{{ payload }}</div>
{% endblock %}
