{% extends 'base.html' %}
{% import '_macros/widgets.html' as widgets %}

{% block title %}{% trans %}Latest{% endtrans %}{% endblock %}

{% block content %}
    <form class="ml-control-bar">
        <div class="ml-control-bar-cat-wrapper">
            <label class="ml-control-bar-cat manga-category-non_h">
                <input type="checkbox" name="non_h"{% if request.GET.non_h %} checked{% endif %}{% if request.GET.non_h %} checked{% endif %}>
                <span>{% trans %}Non-H{% endtrans %}</span>
            </label>
            <label class="ml-control-bar-cat manga-category-ecchi">
                <input type="checkbox" name="ecchi"{% if request.GET.ecchi %} checked{% endif %}>
                <span>{% trans %}Ecchi{% endtrans %}</span>
            </label>
            <label class="ml-control-bar-cat manga-category-vanilla">
                <input type="checkbox" name="vanilla"{% if request.GET.vanilla %} checked{% endif %}>
                <span>{% trans %}Vanilla{% endtrans %}</span>
            </label>
            <label class="ml-control-bar-cat manga-category-alternative">
                <input type="checkbox" name="alternative"{% if request.GET.alternative %} checked{% endif %}>
                <span>{% trans %}Alternative{% endtrans %}</span>
            </label>
            <label class="ml-control-bar-cat manga-category-yaoi">
                <input type="checkbox" name="yaoi"{% if request.GET.yaoi %} checked{% endif %}>
                <span>{% trans %}Yaoi{% endtrans %}</span>
            </label>
            <label class="ml-control-bar-cat manga-category-yuri">
                <input type="checkbox" name="yuri"{% if request.GET.yuri %} checked{% endif %}>
                <span>{% trans %}Yuri{% endtrans %}</span>
            </label>
            <label class="ml-control-bar-cat manga-category-other">
                <input type="checkbox" name="other"{% if request.GET.other %} checked{% endif %}>
                <span>{% trans %}Other{% endtrans %}</span>
            </label>
            <button type="submit" class="btn btn-primary ml-control-bar-cat-button">{% trans %}Go{% endtrans %}</button>
        </div>
        {{ widgets.pagination(manga_list, request) }}
    </form>
    {% if manga_list %}
        <ul class="ml">
            {% for manga in manga_list %}
                {% set url_manga = url('manga', args=[manga.id, manga.slug]) %}
                <li class="mli">
                    <div class="mli-core">
                        <a href="{{ url_manga }}" target="_blank" title="{{ manga.title }}" class="mli-cover">
                            {% if manga.cover %}
                                <img class="lazy-image" src="{{ STATIC_URL }}images/loading.png" data-src="{{ manga.cover|image('manga_cover', manga.id) }}" alt="{{ manga.title }}">
                            {% else %}
                                <img class="lazy-image" src="{{ STATIC_URL }}images/loading.png" data-src="{{ STATIC_URL }}images/no-image.png" alt="{{ manga.title }}">
                            {% endif %}
                        </a>
                        <a href="{{ url_manga }}" class="block mli-title" title="{{ manga.title }}">{{ manga.title }}</a>
                        <div class="mli-info">
                            <span class="manga-category manga-category-{{ manga.category.lower() }} space-right">{{ manga.category_display }}</span>
                            <span class="manga-category manga-category-other">{{ manga.language_display }}</span>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
        <div class="control-bar text-right">
            {{ widgets.pagination(manga_list, request) }}
        </div>
    {% else %}
        <p class="container">{% trans %}There is nothing here.{% endtrans %}</p>
    {% endif %}
{% endblock %}
