{% import '_macros/forms.html' as forms with context %}
{% set url_account_login = url('account.login') %}
{% set url_account_register = url('account.register') %}
{% set url_upload_list = url('upload.list') %}
<header>
    <span class="icon icon-menu max-md left" id="header-menu-icon"></span>
    <a href="" class="icon icon-search max-xs right"></a>
    <div class="header-menu min-xs">
        {% if user.is_authenticated() %}
            <a href="{{ url_upload_list }}" class="min-md {% if request.path == url_upload_list %} active{% endif %}"><span class="icon icon-up-circled"></span></a>
            <a href="#"><span class="icon icon-cog space-right"></span><span class="min-sm">{{ user.username }}</span></a>
            <a href="#" onclick="document.getElementById('account-logout-form').submit()"><span class="icon icon-logout"></span></a>
        {% else %}
            <a href="{{ url_account_login }}"{% if request.path == url_account_login %} class="active"{% endif %}>{% trans %}Login{% endtrans %}</a>
            <a href="{{ url_account_register }}"{% if request.path == url_account_register %} class="active"{% endif %}>{% trans %}Create Account{% endtrans %}</a>
        {% endif %}
    </div>
    <a href="{{ url('manga.list') }}" class="header-heading">Fufufuu</a>
    <form action="" method="get" id="header-search-form" class="min-xs">
        <label class="icon icon-search left" for="id_header_search"></label>
        <input type="text" placeholder="{% trans %}Search for Manga, Doujinshi and Tags{% endtrans %}" id="id_header_search">
    </form>
</header>
<form action="{{ url('account.logout') }}" method="post" class="none" id="account-logout-form">
    {{ forms.csrf_input() }}
</form>
