<header>
    <span class="icon icon-menu max-md left"></span>
    <a href="" class="icon icon-search max-xs right"></a>
    <div class="header-menu min-xs">
        {% if user.is_authenticated() %}
            <a href="#" class="min-sm"><span class="icon icon-cog"></span>{{ user.username }}</a>
            <a href="#" onclick="document.getElementById('account-logout-form').submit()"><span class="icon icon-logout"></span></a>
        {% else %}
            <a href="#">{% trans %}Login{% endtrans %}</a>
            <a href="#">{% trans %}Create Account{% endtrans %}</a>
        {% endif %}
    </div>
    <a href="{{ url('manga.list') }}" class="header-heading">Fufufuu</a>
    <form action="" method="get" id="header-search-form" class="min-xs">
        <input type="text" placeholder="{% trans %}Search for Manga, Doujinshi and Tags{% endtrans %}">
    </form>
</header>
