{% set url_account_login = url('account.login') %}
{% set url_account_register = url('account.register') %}
{% set url_manga_list = url('manga.list') %}
{% set url_tag_list_author = url('tag.list.author') %}
{% set url_tag_list_circle = url('tag.list.circle') %}
{% set url_tag_list_collection = url('tag.list.collection') %}
{% set url_tag_list_content = url('tag.list.content') %}
{% set url_tag_list_event = url('tag.list.event') %}
{% set url_tag_list_magazine = url('tag.list.magazine') %}
{% set url_tag_list_parody = url('tag.list.parody') %}
{% set url_tag_list_scanlator = url('tag.list.scanlator') %}
{% set url_tag_list_tank = url('tag.list.tank') %}
{% set url_upload_list = url('upload.list') %}
<nav>
    <a href="{{ url_manga_list }}"{% if request.path == url_manga_list %} class="active"{% endif %}><span class="icon icon-clock"></span>{% trans %}Latest{% endtrans %}</a>
    <a href="#"><span class="icon icon-heart"></span>{% trans %}Favorites{% endtrans %}</a>
    <hr class="nav-sep">
    <a href="{{ url_tag_list_tank }}"{% if request.path == url_tag_list_tank %} class="active"{% endif %}><span class="icon icon-docs"></span>{% trans %}Tanks{% endtrans %}</a>
    <a href="{{ url_tag_list_collection }}"{% if request.path == url_tag_list_collection %} class="active"{% endif %}><span class="icon icon-docs"></span>{% trans %}Collections{% endtrans %}</a>
    <a href="#"><span class="icon icon-docs"></span>{% trans %}Originals{% endtrans %}</a>
    <hr class="nav-sep">
    <a href="{{ url_tag_list_author }}"{% if request.path == url_tag_list_author %} class="active"{% endif %}><span class="icon icon-tag"></span>{% trans %}Authors{% endtrans %}</a>
    <a href="{{ url_tag_list_circle }}"{% if request.path == url_tag_list_circle %} class="active"{% endif %}><span class="icon icon-tag"></span>{% trans %}Circles{% endtrans %}</a>
    <a href="{{ url_tag_list_content }}"{% if request.path == url_tag_list_content %} class="active"{% endif %}><span class="icon icon-tag"></span>{% trans %}Content{% endtrans %}</a>
    <a href="{{ url_tag_list_event }}"{% if request.path == url_tag_list_event %} class="active"{% endif %}><span class="icon icon-tag"></span>{% trans %}Events{% endtrans %}</a>
    <a href="{{ url_tag_list_magazine }}"{% if request.path == url_tag_list_magazine %} class="active"{% endif %}><span class="icon icon-tag"></span>{% trans %}Magazines{% endtrans %}</a>
    <a href="{{ url_tag_list_parody }}"{% if request.path == url_tag_list_parody %} class="active"{% endif %}><span class="icon icon-tag"></span>{% trans %}Parodies{% endtrans %}</a>
    <a href="{{ url_tag_list_scanlator }}"{% if request.path == url_tag_list_scanlator %} class="active"{% endif %}><span class="icon icon-tag"></span>{% trans %}Scanlators{% endtrans %}</a>
    <hr class="nav-sep max-xs">
    {% if user.is_authenticated() %}
        <a href="#" class="max-xs"><span class="icon icon-cog"></span>{{ user.username }}</a>
        <a href="{{ url_upload_list }}" class="max-xs{% if request.path == url_upload_list %} active{% endif %}"><span class="icon icon-up-circled"></span>{% trans %}Upload{% endtrans %}</a>
        <a href="#" class="max-xs" onclick="document.getElementById('account-logout-form').submit()"><span class="icon icon-logout"></span>{% trans %}Logout{% endtrans %}</a>
    {% else %}
        <a href="{{ url_account_login }}" class="max-xs{% if request.path == url_account_login %} active{% endif %}"><span class="icon icon-key"></span>{% trans %}Login{% endtrans %}</a>
        <a href="{{ url_account_register }}" class="max-xs{% if request.path == url_account_register %} active{% endif %}"><span class="icon icon-user-add"></span>{% trans %}Create Account{% endtrans %}</a>
    {% endif %}
    <hr class="nav-sep">
    <a href="#"><span class="icon icon-chat"></span>{% trans %}Chat{% endtrans %}</a>
    <a href="#"><span class="icon icon-comment"></span>{% trans %}Forums{% endtrans %}</a>
    <a href="#"><span class="icon icon-help-circled"></span>{% trans %}Help{% endtrans %}</a>
</nav>
