{% set url_manga_list = url('manga.list') %}
<nav>
    <a href="{{ url_manga_list }}"{% if request.path == url_manga_list %} class="active"{% endif %}><span class="icon icon-clock"></span>{% trans %}Latest{% endtrans %}</a>
    <a href="#"><span class="icon icon-heart"></span>{% trans %}Favorites{% endtrans %}</a>
    <hr class="nav-sep">
    <a href="#"><span class="icon icon-docs"></span>{% trans %}Tanks{% endtrans %}</a>
    <a href="#"><span class="icon icon-docs"></span>{% trans %}Collections{% endtrans %}</a>
    <a href="#"><span class="icon icon-docs"></span>{% trans %}Originals{% endtrans %}</a>
    <hr class="nav-sep">
    <a href="#"><span class="icon icon-tag"></span>{% trans %}Scanlators{% endtrans %}</a>
    <a href="#"><span class="icon icon-tag"></span>{% trans %}Parodies{% endtrans %}</a>
    <a href="#"><span class="icon icon-tag"></span>{% trans %}Content{% endtrans %}</a>
    <a href="#"><span class="icon icon-tag"></span>{% trans %}Circles{% endtrans %}</a>
    <a href="#"><span class="icon icon-tag"></span>{% trans %}Authors{% endtrans %}</a>
    <a href="#"><span class="icon icon-tag"></span>{% trans %}Magazines{% endtrans %}</a>
    <a href="#"><span class="icon icon-tag"></span>{% trans %}Events{% endtrans %}</a>
    <hr class="nav-sep">
    <a href="#"><span class="icon icon-chat"></span>{% trans %}Chat{% endtrans %}</a>
    <a href="#"><span class="icon icon-comment"></span>{% trans %}Forums{% endtrans %}</a>
    <a href="#"><span class="icon icon-help-circled"></span>{% trans %}Help{% endtrans %}</a>
</nav>
