{% extends 'base.html' %}

{% block title %}{% trans %}Uploads{% endtrans %}{% endblock %}

{% block content %}
    <div class="container">
        <table>
            <thead>
                <tr>
                    <th width="100" class="min-xs">{% trans %}Status{% endtrans %}</th>
                    <th width="100" class="min-xs">{% trans %}Category{% endtrans %}</th>
                    <th>{% trans %}Title{% endtrans %}</th>
                    <th width="50" class="min-xs"><span class="icon icon-heart"></span></th>
                    <th width="50" class="min-xs"><span class="icon icon-comment"></span></th>
                    <th width="50" class="min-xs"><span class="icon icon-down-circled"></span></th>
                    <th width="200" class="min-md">{% trans %}Date{% endtrans %}</th>
                </tr>
            </thead>
            <tbody>
                {% for manga in manga_list %}
                    <tr>
                        <td class="min-xs">{{ manga.status_display }}</td>
                        <td class="min-xs">{{ manga.category_display }}</td>
                        <td><a href="#">{{ manga.title }}</a></td>
                        <td class="min-xs"></td>
                        <td class="min-xs"></td>
                        <td class="min-xs"></td>
                        <td class="min-md"></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
