{% extends 'base.html' %}
{% import '_macros/forms.html' as forms with context %}
{% import '_macros/widgets.html' as widgets with context %}

{% block title %}{% trans %}Uploads{% endtrans %}{% endblock %}

{% block content_upper %}
    <div class="filter-bar">
        <form class="right">
            {{ widgets.pagination(manga_list) }}
        </form>
        <form action="" method="post" target="_blank" class="min-md inline-block space-right-10">
            {{ forms.csrf_input() }}
            <button type="submit" class="btn btn-primary space-bottom-0"{% if upload_slots_used >= user.upload_limit or not SITE_SETTINGS.ENABLE_UPLOADS %} disabled{% endif %}><span class="icon icon-up-circled space-right"></span>{% trans %}New Upload{% endtrans %}</button>
        </form>
        <span class="block-message {% if upload_slots_used >= user.upload_limit %}message-error{% else %}message-warning{% endif %} min-md">Using {{ upload_slots_used }} / {{ user.upload_limit }} slots for drafts, and uploads in the past 24 hours</span>
        <div class="clear"></div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <table class="table-hover">
            <thead>
                <tr>
                    <th width="80" class="min-xs">{% trans %}Status{% endtrans %}</th>
                    <th width="100" class="min-xs">{% trans %}Category{% endtrans %}</th>
                    <th width="100%">{% trans %}Title{% endtrans %}</th>
                    <th width="50" class="min-xs"><span class="icon icon-heart"></span></th>
                    <th width="50" class="min-xs"><span class="icon icon-comment"></span></th>
                    <th width="50" class="min-xs"><span class="icon icon-down-circled"></span></th>
                    <th width="200" class="min-md">{% trans %}Date Created{% endtrans %}</th>
                </tr>
            </thead>
            <tbody>
                {% for manga in manga_list %}
                    <tr>
                        <td class="min-xs"><span class="manga-status manga-status-{{ manga.status.lower() }} space-right">{{ manga.status_display }}</span></td>
                        <td class="min-xs"><span class="manga-category manga-category-{{ manga.category.lower() }} space-right">{{ manga.category_display }}</span></td>
                        <td><a href="{{ url('manga.edit', args=[manga.id, manga.slug]) }}" target="_blank">{{ manga.title }}</a></td>
                        <td class="min-xs"></td>
                        <td class="min-xs"></td>
                        <td class="min-xs"></td>
                        <td class="min-md">{{ manga.created_on|naturaltime }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="100%">{% trans %}You have not uploaded anything yet.{% endtrans %}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% if manga_list and manga_list.paginator.num_pages > 1 %}
        <div class="filter-bar filter-bar-bottom">
            <form class="right">
                {{ widgets.pagination(manga_list) }}
            </form>
            <span class="btn back-to-top"><span class="icon icon-up-circled space-right"></span>{% trans %}Back to Top{% endtrans %}</span>
            <div class="clear"></div>
        </div>
    {% endif %}
{% endblock %}
