{% extends 'base.html' %}

{% block title %}{% trans %}Search{% endtrans %}{% endblock %}

{% block content_upper %}
    {% include 'manga/_include/manga-list-filters.html' %}
{% endblock %}

{% block content %}
    <div class="max-xs container search-container-xs">
        <form action="" method="get" class="space-bottom-10">
            <input type="text" placeholder="{% trans %}Search for Manga and Doujinshi{% endtrans %}" id="id_header_search" value="{{ request.GET.q }}" name="q" autofocus="autofocus">
        </form>
        {% if not manga_list and request.GET.q %}
            {% include 'manga/_include/manga-list-empty.html' %}
        {% endif %}
    </div>
    {% if manga_list %}
        {% include 'manga/_include/manga-list-core.html' %}
    {% elif request.GET.q %}
        <div class="min-xs container">{% include 'manga/_include/manga-list-empty.html' %}</div>
    {% else %}
        <div class="min-xs container">
            <div class="panel">
                <h4 class="panel-heading">{% trans %}Please Enter a Search Term{% endtrans %}</h4>
                <div class="panel-body">
                    <p>{% trans %}The search page only works if you actually type in something to search for!{% endtrans %}</p>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
