{% extends 'base.html' %}
{% import '_macros/widgets.html' as widgets with context %}

{% block title %}{% trans %}News & Blog{% endtrans %}{% endblock %}

{% block content %}
    <div class="container-fat width-800">
        {% for blog_entry in blog_entry_list %}
            {{ widgets.render_blog_entry(blog_entry) }}
            <div>
                <a href="{{ url('blog.entry', args=[blog_entry.id, blog_entry.slug]) }}">{% trans count=blog_entry.comment_count %}{{ count }} comments{% endtrans %}</a>
            </div>
            {% if not loop.last %}<hr>{% endif %}
        {% endfor %}
    </div>
    {% if blog_entry_list and blog_entry_list.paginator.num_pages > 1 %}
        <div class="filter-bar filter-bar-bottom">
            <form class="right">
                {{ widgets.pagination(blog_entry_list) }}
            </form>
            <span class="btn back-to-top"><span class="icon icon-up-circled space-right"></span>{% trans %}Back to Top{% endtrans %}</span>
            <div class="clear"></div>
        </div>
    {% endif %}
{% endblock %}
