{% extends 'moderator/moderator-base.html' %}

{% block title %}{% trans %}Manga Report List{% endtrans %}{% endblock %}

{% block content %}
    <ul class="breadcrumb-list">
        <li><span>{% trans %}Manga Report List{% endtrans %}</span></li>
    </ul>
    <div class="container">
        <table class="table-hover">
            <thead>
                <tr>
                    <th width="40" title="{% trans %}Count{% endtrans %}">Co</th>
                    <th width="40" title="{% trans %}Weight{% endtrans %}">Wt</th>
                    <th width="80">{% trans %}Status{% endtrans %}</th>
                    <th width="100">{% trans %}Category{% endtrans %}</th>
                    <th width="100%">{% trans %}Title{% endtrans %}</th>
                    <th width="160">{% trans %}Uploader{% endtrans %}</th>
                    <th width="160">{% trans %}Upload Age{% endtrans %}</th>
                </tr>
            </thead>
            <tbody>
                {% for manga in manga_list %}
                    <tr>
                        <td>{{ manga.report_count }}</td>
                        <td>{{ manga.report_weight }}</td>
                        <td><span class="manga-status manga-status-{{ manga.status.lower() }} space-right">{{ manga.status_display }}</span></td>
                        <td><span class="manga-category manga-category-{{ manga.category.lower() }} space-right">{{ manga.category_display }}</span></td>
                        <td><a href="{{ url('moderator.report.manga', args=[manga.id]) }}">{{ manga.title }}</a></td>
                        <td>{{ manga.created_by }}</td>
                        <td>{{ manga.created_on|naturaltime }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="100%">{% trans %}There are no reports here!{% endtrans %}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
