{% extends 'moderator/moderator-base.html' %}
{% import '_macros/forms.html' as forms with context %}
{% import '_macros/widgets.html' as widgets with context %}

{% block title %}{% trans title=manga.title %}Manga Reports - {{ title }}{% endtrans %}{% endblock %}

{% block content %}
    <div class="container">
        <form action="" method="post">
            {{ formset.management_form }}
            {{ forms.csrf_input() }}
            <div class="well space-bottom-10">
                <span class="manga-status manga-status-{{ manga.status.lower() }} space-right-10">{{ manga.status_display }}</span>
                <a href="{{ url('manga', args=[manga.id, manga.slug]) }}" target="_blank"><strong>{{ manga.title }}</strong></a>
            </div>
            <div class="well">
                {% if manga.created_by %}
                    <a href="{{ url('user', args=[manga.created_by.username]) }}" class="block">
                        <span class="left space-right-10">{{ widgets.user_avatar(manga.created_by) }}</span>
                        <strong>{{ manga.created_by }}</strong>
                        <p class="text-secondary text-xsmall space-bottom-0">{% trans date=manga.created_on|naturaltime %}Uploaded {{ date }}{% endtrans %}</p>
                        <div class="clear"></div>
                    </a>
                {% else %}
                    <div>
                        <span class="left space-right-10">
                            <img src="{{ STATIC_URL }}images/no-avatar.png" class="account-avatar">
                        </span>
                        <strong>[---- {% trans %}User Deleted{% endtrans %} ----]</strong>
                        <p class="text-secondary text-xsmall space-bottom-0">{% trans date=manga.created_on|naturaltime %}Uploaded {{ date }}{% endtrans %}</p>
                        <div class="clear"></div>
                    </div>
                {% endif %}
            </div>
            <table class="table-vertical-align-top space-bottom-10">
                <thead>
                    <tr>
                        <th width="80">{% trans %}Quality{% endtrans %}</th>
                        <th width="40" title="{% trans %}Weight{% endtrans %}">Wt</th>
                        <th width="100%">{% trans %}Comment{% endtrans %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for form in formset %}{% with report=form.instance %}
                        <tr>
                            <td>
                                {{ form.id }}
                                {{ form.quality }}
                            </td>
                            <td>{{ report.weight }}</td>
                            <td>
                                <strong>{{ report.type|report_manga_type_display }}</strong>
                                <div>{{ report.comment }}</div>
                                <div>
                                    {% if report.created_by %}
                                        <a href="{{ url('user', args=[report.created_by.username]) }}"><strong class="text-small">{{ report.created_by.username }}</strong></a>
                                    {% else %}
                                        <span>{% trans %}Anonymous{% endtrans %}</span>
                                    {% endif %}
                                    <span class="icon icon-dot text-small text-secondary"></span>
                                    <span class="text-secondary text-small">{{ report.created_on|naturaltime }}</span>
                                </div>
                            </td>
                        </tr>
                    {% endwith %}{% endfor %}
                </tbody>
            </table>
            <div class="well">
                <div class="space-bottom-10">
                    <textarea name="comment" placeholder="{% trans %}Leave a comments for the reporters.{% endtrans %}"></textarea>
                </div>
                <div>
                    <button class="btn btn-error space-right-10" name="action" value="remove">{% trans %}Remove Manga{% endtrans %}</button>
                    <button class="btn" name="action" value="keep">{% trans %}Keep Manga{% endtrans %}</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
