{% macro csrf_token(token) %}
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ token }}" />
{% endmacro %}

{% macro non_field_errors(form) %}
    {% for error in form.non_field_errors() %}
        <div class="non-field-error">{{ error }}</div>
    {% endfor %}
{% endmacro %}

{% macro field(field) %}
    <div class="form-field{% if field.errors %} error{% endif %}">
        {{ field.label_tag() }}
        {{ field }}
        {% for error in field.errors %}
            <span class="error-block">{{ error }}</span>
        {% endfor %}
        {% if field.help_text %}
            <span class="help-block">{{ field.help_text }}</span>
        {% endif %}
    </div>
{% endmacro %}

{% macro field_file(field, image, class) %}
    <table class="table-full-border space-top-15">
        <tr>
            <td width="120"><label>{% trans %}Current{% endtrans %}</label></td>
            <td>
                {% if image %}
                    <img src="{{ image.url }}" class="{{ class }}">
                {% else %}
                    <img src="{{ STATIC_URL }}images/no-image.png" class="{{ class }}">
                {% endif %}
            </td>
        </tr>
        <tr>
            <td width="120">{{ field.label_tag() }}</td>
            <td>{{ field }}</td>
        </tr>
    </table>
{% endmacro %}
