{% macro pagination(page) %}
    <div class="pagination">
        {% if page.has_previous() %}
            <a href="?{{ (request.GET|exclude_keys('p')).urlencode() }}&p={{ page.previous_page_number() }}" class="icon icon-left-open pagination-prev"></a>
        {% else %}
            <span class="icon icon-left-open pagination-prev"></span>
        {% endif %}
        <div class="pagination-control">
            <input type="text" value="{{ request.GET.p or 1 }}" name="p">
            <span class="min-xs">of {{ page.paginator.num_pages }}</span>
        </div>
        {% if page.has_next() %}
            <a href="?{{ (request.GET|exclude_keys('p')).urlencode() }}&p={{ page.next_page_number() }}" class="icon icon-right-open pagination-next"></a>
        {% else %}
            <span class="icon icon-right-open pagination-next"></span>
        {% endif %}
    </div>
{% endmacro %}

{% macro user_avatar(user) %}
    {% if user and user.avatar %}
        <img src="{{ user.avatar_url }}" alt="{{ user.username }}" class="account-avatar">
    {% else %}
        <img src="{{ STATIC_URL }}images/no-avatar.png" alt="{{ user.username }}" class="account-avatar">
    {% endif %}
{% endmacro %}

{% macro render_blog_entry(blog_entry) %}
    <h2>{{ blog_entry.title }}</h2>
    <div class="space-bottom-10">
        {% if blog_entry.created_by %}
            <a href="{{ url('user', args=[blog_entry.created_by.username]) }}">
                <strong class="text-small">{{ blog_entry.created_by }}</strong>
            </a>
        {% else %}
            <span class="text-secondary">&lt;{% trans %}User Deleted{% endtrans %}&gt;</span>
        {% endif %}
        <span class="text-secondary text-small icon icon-dot"></span>
        <span class="text-secondary text-small space-bottom-0">{% trans date=blog_entry.created_on|naturaltime %}Posted {{ date }}{% endtrans %}</span>
        {% if user.is_staff %}
            <span class="text-secondary text-small icon icon-dot"></span>
            <a href="{{ url('blog.entry.edit', args=[blog_entry.id, blog_entry.slug]) }}">{% trans %}Edit{% endtrans %}</a>
        {% endif %}
    </div>
    <div class="markdown">{{ blog_entry.html }}</div>
{% endmacro %}
