{% macro pagination(page) %}
    <div class="pagination">
        {% if page.has_previous() %}
            <a href="?{{ request.GET|getparams('p') }}&p={{ page.previous_page_number() }}" class="icon icon-left-open pagination-prev"></a>
        {% else %}
            <span class="icon icon-left-open pagination-prev"></span>
        {% endif %}
        <div class="pagination-control">
            <input type="text" value="{{ request.GET.p or 1 }}" name="p">
            <span class="min-xs">of {{ page.paginator.num_pages }}</span>
        </div>
        {% if page.has_next() %}
            <a href="?{{ request.GET|getparams('p') }}&p={{ page.next_page_number() }}" class="icon icon-right-open pagination-next"></a>
        {% else %}
            <span class="icon icon-right-open pagination-next"></span>
        {% endif %}
    </div>
{% endmacro %}

{% macro user_avatar(user) %}
    {% if user.avatar %}
        <img src="{{ user.avatar|image_resize('account_avatar', user.id) }}" alt="{{ user.username }}" class="account-avatar">
    {% else %}
        <img src="{{ STATIC_URL }}images/no-avatar.png" alt="{{ user.username }}" class="account-avatar">
    {% endif %}
{% endmacro %}
