{% macro pagination(page, request) %}
    {% if page.paginator.num_pages > 1 %}
        <div class="pagination">
            {% if page.has_previous() %}
                <a href="?{{ request.GET|getparams('p') }}&p={{ page.previous_page_number() }}" class="icon icon-left-open pagination-prev"></a>
            {% else %}
                <span class="icon icon-left-open pagination-disabled pagination-prev"></span>
            {% endif %}
            <div class="pagination-control">
                <input type="text" value="{{ page.number }}" name="p">
                <span class="space-left-10">of {{ page.paginator.num_pages }}</span>
            </div>
            {% if page.has_next() %}
                <a href="?{{ request.GET|getparams('p') }}&p={{ page.next_page_number() }}" class="icon icon-right-open pagination-next"></a>
            {% else %}
                <span class="icon icon-right-open pagination-disabled pagination-next"></span>
            {% endif %}
        </div>
    {% endif %}
{% endmacro %}
