{% extends 'base.html' %}

{% block title %}{% trans %}500 Server Error{% endtrans %}{% endblock %}

{% block content %}
    <div class="container">
        <div class="panel">
            <h4 class="panel-heading">{% trans %}500 Server Error{% endtrans %}</h4>
            <div class="panel-body">
                <p class="space-bottom-0">{% trans %}Sorry - The requested page is unavailable due to a server hiccup.{% endtrans %}</p>
                <p>{% trans %}Our engineers have been notified, so check back later.{% endtrans %}</p>
            </div>
        </div>
    </div>
{% endblock %}
