{% extends 'base-common.html' %}

{% block body %}
    {% include '_include/header.html' %}
    {% include '_include/nav.html' %}
    <div id="template-{{ TEMPLATE_NAME }}" class="content">
        {% include '_include/messages.html' %}
        {% block content %}{% endblock %}
    </div>
    {% include '_include/footer.html' %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/lib{{ RESOURCE_VERSION }}.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/app{{ RESOURCE_VERSION }}.js"></script>
{% endblock %}
