{% spaceless %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge, chrome=1">
    {% block meta_viewport %}
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    {% endblock %}
    <meta name="msapplication-TileImage" content="{{ STATIC_URL }}images/touch.png">
    <meta name="msapplication-TileColor" content="#222222">
    <meta name="juicyads-site-verification" content="5808937a0f1b58e073428a4136ed4cfd">
    <link rel="icon" type="image/png" href="{{ STATIC_URL }}images/favicon.png">
    <link rel="apple-touch-icon" href="{{ STATIC_URL }}images/touch.png">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400,600">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Inconsolata:400">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/app.css?version={{ RESOURCE_VERSION }}">
    <title>Fufufuu | {% block title %}{% endblock %}</title>
    {% include '_include/analytics.html' %}
</head>
<body>
    {% block body %}
        {% include '_include/header.html' %}
        {% include '_include/nav.html' %}
        <div id="template-{{ TEMPLATE_NAME }}" class="content">
            {% block content_upper %}{% endblock %}
            {% include '_include/messages.html' %}
            {% block content %}{% endblock %}
            {% block footer %}{% include '_include/footer.html' %}{% endblock %}
        </div>
    {% endblock %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/lib.js?version={{ RESOURCE_VERSION }}"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/app.js?version={{ RESOURCE_VERSION }}"></script>
    {% block javascript %}{% endblock %}
</body>
</html>
{% endspaceless %}
