{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content_upper %}
    <div class="filter-bar no-wrap">
        <input type="text" placeholder="{% trans %}Quick Filter{% endtrans %}" id="tl-quick-filter" class="filter-bar-text-input space-right-10" autofocus>
        {% for key, val in (request.GET|exclude_keys('lang')).items() %}
            <input type="hidden" name="{{ key }}" value="{{ val }}">
        {% endfor %}
        <form action="" method="get" class="auto-submit inline-block">
            <select name="lang" class="fat space-right-10">
                <option value="">{% trans %}All <Alias></Alias> Languages{% endtrans %}&nbsp;&nbsp;</option>
                {% for language in LANGUAGES %}
                    <option value="{{ language.0 }}"{% if language.0 == lang %} selected{% endif %}>{{ language.1 }}</option>
                {% endfor %}
            </select>
        </form>
        <div class="clear"></div>
    </div>
{% endblock %}

{% block content %}
    <ul class="tl">
        {% for tag in tag_list %}
            <li class="tli">
                <a href="{{ url('tag', args=[tag.id, tag.slug]) }}{% if lang %}?lang={{ lang }}{% endif %}">
                    <span class="tl-searchable">{{ tag.name }}</span>
                    {% if tag.alias_list %}
                        <ul class="tl-alias-list">
                            {% for tag_alias in tag.alias_list %}
                                <li class="text-xsmall text-secondary tl-searchable">{{ tag_alias }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
