{% extends 'base.html' %}
{% import '_macros/widgets.html' as widgets with context %}

{% block title %}{{ title }}{% endblock %}

{% block content_upper %}
    <div class="filter-bar">
        <a href="{{ url('tag.list.%s'|format(tag_type|lower)) }}" class="btn space-right-10">{% trans %}List View{% endtrans %}</a>
        <form action="" method="get" class="right">
            {{ widgets.pagination(tag_list) }}
        </form>
        <div class="clear"></div>
    </div>
{% endblock %}

{% block content %}
    <ul class="ml">
        {% for tag in tag_list %}
            <li class="mli">
                <div class="mli-core">
                    {% set url_tag = url('tag', args=[tag.id, tag.slug]) %}
                    <a href="{{ url_tag }}">
                        {% if tag.cover %}
                            <img class="lazy-image" src="{{ STATIC_URL }}images/loading.png" data-src="{{ STATIC_URL }}images/placeholder/placeholder-200x300.png" data-src-retina="{{ STATIC_URL }}images/placeholder/placeholder-400x600.png">
                        {% else %}
                            <img class="lazy-image" src="{{ STATIC_URL }}images/loading.png" data-src="{{ STATIC_URL }}images/no-image.png">
                        {% endif %}
                    </a>
                    <a href="{{ url_tag }}" class="block tli-info">
                        <span class="text-small">{{ tag.name }}</span>
                        {% if tag.alias_list %}
                            <ul class="tl-alias-list">
                                {% for tag_alias in tag.alias_list %}
                                    <li class="text-xsmall text-secondary">{{ tag_alias }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </a>
                </div>
            </li>
        {% endfor %}
    </ul>
    {% if tag_list and tag_list.paginator.num_pages > 1 %}
        <div class="filter-bar filter-bar-bottom">
            <form class="right">
                {{ widgets.pagination(tag_list) }}
            </form>
            <span class="btn back-to-top"><span class="icon icon-up-circled space-right"></span>{% trans %}Back to Top{% endtrans %}</span>
            <div class="clear"></div>
        </div>
    {% endif %}
{% endblock %}
