{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content_upper %}
    <div class="filter-bar no-wrap">
        {% if tag_type in ['COLLECTION', 'TANK'] %}
            <a href="{{ url('tag.list.grid.%s'|format(tag_type|lower)) }}" class="btn space-right-10 min-xs">{% trans %}Grid View{% endtrans %}</a>
        {% endif %}
        <input type="text" placeholder="{% trans %}Quick Filter{% endtrans %}" id="tl-quick-filter" class="filter-bar-text-input space-right-10" autofocus>
        <div class="clear"></div>
    </div>
{% endblock %}

{% block content %}
    <ul class="tl">
        {% for tag in tag_list %}
            <li class="tli">
                <a href="{{ url('tag', args=[tag.id, tag.slug]) }}{% if lang %}?lang={{ lang }}{% endif %}">
                    <span class="tl-searchable">{{ tag.name }}</span>
                    {% if tag.alias_list %}
                        <ul class="tl-alias-list">
                            {% for tag_alias in tag.alias_list %}
                                <li class="text-xsmall text-secondary tl-searchable">{{ tag_alias }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
