{% extends 'base.html' %}

{% block title %}{{ tag.name }}{% endblock %}

{% block content_upper %}
    {% include 'manga/_include/manga-list-filters.html' %}
    <div class="tag-info-block">
        <h2 class="tag-info-heading"><span class="manga-tag space-right">{{ tag.tag_type|tag_type_display }}</span>{{ tag.name }}</h2>
    </div>
{% endblock %}

{% block content %}
    {% include 'manga/_include/manga-list-core.html' %}
    {% if not manga_list %}
        <div class="container">{% include 'manga/_include/manga-list-empty.html' %}</div>
    {% endif %}
{% endblock %}
