{% extends 'base.html' %}

{% block title %}{{ tag.name }}{% endblock %}

{% block content_upper %}
    {% include 'manga/_include/manga-list-filters.html' %}
    <div class="tag-info-block">
        <span class="btn min-md right">{% trans %}Edit Tag{% endtrans %}</span>
        <h2 class="tag-info-heading">{{ tag.name }}</h2>
        <div class="tag-info-alias-list text-secondary">
            {% for tag_alias in tag_alias_list %}
                <span class="text-xsmall space-right">{{ tag_alias.name }}{% if not loop.last %},{% endif %}</span>
            {% endfor %}
        </div>
        <div>{{ tag_data.html|safe }}</div>
        <div class="clear"></div>
    </div>
{% endblock %}

{% block content %}
    {% include 'manga/_include/manga-list-core.html' %}
    {% if not manga_list %}
        <div class="container">
            <div class="panel">
                <h4 class="panel-heading">{% trans %}There is nothing here.{% endtrans %}</h4>
                <div class="panel-body">
                    <p>{% trans %}Unfortunately, there are no manga or doujinshi that satisfies your filtering criteria.{% endtrans %}</p>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
