/* --------------------------------------------------
    account styles
---------------------------------------------------*/

.account-form {
    max-width: 400px;
    margin: 0 auto 200px;
}

@media screen and (max-width: @screen-xs1) {
    .account-form {
        margin: 0 auto 15px;
    }
}
