/* --------------------------------------------------
    account styles
---------------------------------------------------*/

.account-form {
    max-width: 400px;
    margin: 0 auto;
}

@media screen and (max-width: @screen-xs1) {
    .account-form {
        margin: 0 auto 15px;
    }
}

.account-avatar {
    .border-radius(@border-radius);

    border: 1px solid #ccc;
    width: 48px;
    height: 48px;
}
.account-avatar-original {
    .border-radius(@border-radius);

    border: 1px solid #ccc;
    width: 102px;
    height: 102px;
}
