/* --------------------------------------------------
    bottom ad styles
---------------------------------------------------*/

.ad295298 {
    background-color: @nav-bg;
    border: @nav-border;
    margin-top: 10px;
    overflow: auto;
    padding: 10px 0px 0px;
    text-align: center;
}

.ad295299-bottom {
    background-color: @nav-bg;
    border: @nav-border;
    margin-top: 10px;
    overflow: auto;
    padding: 10px 0px 0px;
    text-align: center;
}

@media screen and (max-width: @screen-xs1) {
    .ad295299-bottom {
        border-left: none;
        border-right: none;
        margin: 10px -10px 0;
    }
}
