/* --------------------------------------------------
    custom manga page styles
---------------------------------------------------*/

.manga-edit-inputs {
    input { margin-bottom: 0; }
}

.manga-cover {
    width: 200px;
    height: 300px;
}

.manga-content {
    border-top: 1px solid #fff;
    > #message-list { margin-top: -1px; }
}

.manga-edit-category-table {
    margin: -10px -10px -11px;
    border: none;

    td {
        border: none;
        border-bottom: 1px solid #ddd;
        padding: 10px 0px;
    }
    td:first-child { text-align: center; }
    input[type="radio"] {
        display: inline-block;
        vertical-align: bottom;
        position: relative;
        top: -6px;
    }
    label { text-transform: none; }
}

/* --------------------------------------------------
    manga-edit page
---------------------------------------------------*/

@media screen and (min-width: @screen-lg) {
    #template-manga-edit > form { position: relative; }
    .manga-edit-main {
        margin-right: 240px;
    }
    .manga-edit-sidebar {
        .border-radius(@border-radius);

        float: right;
        width: 225px;

        position: absolute;
        top: 15px;
        right: 15px;

        button {
            margin-bottom: 10px;
            text-align: left;
            width: 100%;
        }
    }
}
@media screen and (max-width: @screen-lg1) {
    .manga-edit-sidebar {
        background-color: @nav-bg;
        border-top: @nav-border;
        padding: 15px;

        > button { margin-right: 10px; }
    }
}
