/* --------------------------------------------------
    manga-header styles
---------------------------------------------------*/

#m-header {
    background-color: @header-bg;
    height: 50px;
}

@manga-title:   #fff;

.manga-title {
    color: @manga-title;
    font-size: 16px;
    font-weight: @font-weight-base;
    line-height: 50px;
    padding: 0 15px;

    > .manga-status {
        .inline-block();
        margin: 13px 10px 13px 0px;
    }
}

.m-header-heading {
    .inline-block();

    background-color: @header-bg-alt;
    border-right: 1px solid #666;
    color: #fff;
    font-size: 20px;
    font-weight: @font-weight-bold;
    line-height: 50px;
    text-align: center;
    width: 50px;
}

@media screen and (max-width: @screen-xs1) {
    .m-header-heading { border-right: none; }
}
