/* --------------------------------------------------
    custom manga page styles
---------------------------------------------------*/

.manga-edit-inputs {
    input { margin-bottom: 0; }
}

.manga-cover {
    width: 200px;
    height: 300px;
}

.manga-content {
    border-top: 1px solid #fff;
}

/* --------------------------------------------------
    manga-list control bar styles
---------------------------------------------------*/

.ml-control-bar, .control-bar {
    padding: 10px;
}

.ml-control-bar-cat-wrapper {
    .inline-block();
    margin-right: 10px;
    > label { text-transform: none; }
}

.ml-control-bar-cat {
    .inline-block();

    border-left: none;
    line-height: 40px;
    padding: 0 10px;

    &:first-of-type { .border-radius(@border-radius 0 0 @border-radius); }
    > input[type="checkbox"] {
        display: inline-block;
        vertical-align: bottom;
        position: relative;
        top: -13px;
    }
    > span { color: #fff; }
}

.ml-control-bar-cat-button {
    .border-radius(0 @border-radius @border-radius 0);
    border: 1px solid @btn-primary-bg;
}

@media screen and (max-width: @screen-lg1) {
    .ml-control-bar-cat {
        > input[type="checkbox"] { margin-right: 0; }
        > span { display: none; }
    }
}

@media screen and (min-width: @screen-xs) {
    .ml-control-bar > .pagination { float: right; }
}

@media screen and (max-width: @screen-xs1) {
    .ml-control-bar-cat-wrapper {
        margin-bottom: 10px;
        width: 100%;
    }
    .ml-control-bar-cat { width: 100/8%; }
    .ml-control-bar-cat-button {
        padding: 7px 0;
        width: 100/8%;
    }
}

/* --------------------------------------------------
    manga-edit page
---------------------------------------------------*/

@media screen and (min-width: @screen-lg) {
    #template-manga-edit > form { position: relative; }
    .manga-edit-main {
        margin-right: 240px;
    }
    .manga-edit-sidebar {
        .border-radius(@border-radius);

        background-color: @nav-bg;
        border: @nav-border;
        float: right;
        padding: 15px;
        width: 225px;

        position: absolute;
        top: 35px;
        right: 15px;

        > button {
            margin-bottom: 10px;
            text-align: left;
            width: 100%;
        }

        > *:last-of-type { margin-bottom: 0; }
    }
}
@media screen and (max-width: @screen-lg1) {
    .manga-edit-sidebar {
        background-color: @nav-bg;
        border-top: @nav-border;
        padding: 15px;

        > button { margin-right: 10px; }
    }
}
