/* --------------------------------------------------
    nav styles
---------------------------------------------------*/

@nav-bg: #e5e5e5;
@nav-border-right: 1px solid #d4d4d4;

nav {
    background-color: @nav-bg;
    border-right: @nav-border-right;
    padding: 0;
    width: @nav-width;

    position: fixed;
    top: 50px;
    left: 0;
    bottom: 0;
    z-index: 1000;
}

@media screen and (max-width: @screen-xs1) {
    nav { width: 70%; }
}

@media screen and (max-width: @screen-md1) {
    nav {
        .transition(300ms ease all);
        .transform(translate3d(-100%, 0, 0));
        &.active {
            .transform(translate3d(0, 0, 0));
        }
    }
}
