{% extends 'base.html' %}
{% import '_macros/widgets.html' as widgets with context %}

{% block title %}{{ target_user.username }} - {% trans %}Uploads{% endtrans %}{% endblock %}

{% block content_upper %}
    {% include 'manga/_include/manga-list-filters.html' %}
    <div class="tag-info-block">
        <span class="manga-category manga-category-other space-right">{% trans %}User{% endtrans %}</span>
        <a href="{{ url('user', args=[target_user.username]) }}" class="space-right"><strong>{{ target_user.username }}</strong></a>
    </div>
{% endblock %}

{% block content %}
    {% include 'manga/_include/manga-list-core.html' %}
    {% if not manga_list %}
        <div class="container">{% include 'manga/_include/manga-list-empty.html' %}</div>
    {% endif %}
{% endblock %}
